Repository discordjs/discord-api-types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vladfrangu, @discordjs/discord-api-types, @discordjs/core

feat(AuditLogEvent): home settings events (#1000)
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RouteBases): add media URL
  deno/rest/v10/mod.ts
  rest/v10/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RouteBases): Add media URL (#1001)
  deno/rest/v10/mod.ts
  rest/v10/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(MessageType): add incident related types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(APIGuild): add `incidents_data`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(MessageType): add incident related types (#1004)
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

docs: update description
  deno/payloads/common.ts
  payloads/common.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: Add use external apps permission (#999)
  deno/payloads/common.ts
  payloads/common.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add premium buttons
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add premium buttons (#1010)
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

chore: update my email
  package.json
  website/package.json
Owners: @vladfrangu

feat(APIAttachment): add `title`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(APIAttachment): add `title` (#1015)
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix(RESTAPIPollCreate): optional properties
  deno/payloads/v10/poll.ts
  deno/payloads/v9/poll.ts
  deno/rest/v10/poll.ts
  deno/rest/v9/poll.ts
  payloads/v10/poll.ts
  payloads/v9/poll.ts
  rest/v10/poll.ts
  rest/v9/poll.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix(RESTAPIPollCreate): optional properties (#1022)
  deno/payloads/v10/poll.ts
  deno/payloads/v9/poll.ts
  deno/rest/v10/poll.ts
  deno/rest/v9/poll.ts
  payloads/v10/poll.ts
  payloads/v9/poll.ts
  rest/v10/poll.ts
  rest/v9/poll.ts
Owners: @discordjs/discord-api-types, @discordjs/core

chore: ignore deprecated versions on linters
  .eslintignore
  .prettierignore
  scripts/deno.mjs
Owners: @vladfrangu

chore: ignore deprecated versions on linters (#1023)
  .eslintignore
  .prettierignore
  scripts/deno.mjs
Owners: @vladfrangu

feat(APIGuild): add `incidents_data`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTAPIPartialCurrentUserGuild): add `banner`
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(ConnectionService): add `Roblox`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: add missing fields
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Fix inconsistency in route and fix wrong JSDoc
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Apply the fix to the deno types
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Oversight in team icons JSDoc
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: application emojis
  deno/rest/v10/emoji.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/emoji.ts
  deno/rest/v9/mod.ts
  rest/v10/emoji.ts
  rest/v10/index.ts
  rest/v9/emoji.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Fix the non matching documentations as pointed out by vaporox
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Fix the deno types aswell
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTAPIPartialCurrentUserGuild): add `banner` (#1028)
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(ConnectionService): add `Roblox` (#1032)
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: application emojis (#1036)
  deno/rest/v10/emoji.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/emoji.ts
  deno/rest/v9/mod.ts
  rest/v10/emoji.ts
  rest/v10/index.ts
  rest/v9/emoji.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add support for message forwarding (#971)
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix(CDNRoutes): inconsistency in route and wrong JSDoc (#1033)
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

chore: ensure routes definitions emit correct paths to prevent a repeat of a bug
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

chore: test for this in tsd land not ts land
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  package.json
  rest/v10/index.ts
  rest/v9/index.ts
  tests/v10/routes.test-d.ts
  tests/v9/routes.test-d.ts
Owners: @discordjs/discord-api-types, @discordjs/core, @vladfrangu

feat(MessageType): `PurchaseNotification` and `PollResult`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(Routes): voice state endpoint
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: intorduce APIVoiceSTate and deprecate GatewayVoiceState
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: merge voiceState into guildVoiceState
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add get REST types for voice state
  deno/rest/v10/guild.ts
  deno/rest/v10/voice.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/voice.ts
  rest/v10/guild.ts
  rest/v10/voice.ts
  rest/v9/guild.ts
  rest/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: api docs link
  deno/rest/v10/voice.ts
  deno/rest/v9/voice.ts
  rest/v10/voice.ts
  rest/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

.github/CODEOWNERS:

* @vladfrangu

/*.ts @discordjs/discord-api-types @discordjs/core
gateway/ @discordjs/discord-api-types @discordjs/core
payloads/ @discordjs/discord-api-types @discordjs/core
rest/ @discordjs/discord-api-types @discordjs/core
rpc/ @discordjs/discord-api-types @discordjs/core
tests/ @discordjs/discord-api-types @discordjs/core
utils/ @discordjs/discord-api-types @discordjs/core
voice/ @discordjs/discord-api-types @discordjs/core
