Repository discordjs/discord-api-types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vladfrangu, @discordjs/discord-api-types, @discordjs/core

feat(RESTOAuth2): add RESTPostOAuth2TokenRevocationQuery
  deno/rest/v10/oauth2.ts
  rest/v10/oauth2.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTOAuth2): add RESTPostOAuth2TokenRevocationQuery
  deno/rest/v9/oauth2.ts
  rest/v9/oauth2.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(Routes): get method on role endpoint
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(Routes): get method on role endpoint (#1051)
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTOAuth2): add RESTPostOAuth2TokenRevocationQuery (#1050)
  deno/rest/v10/oauth2.ts
  deno/rest/v9/oauth2.ts
  rest/v10/oauth2.ts
  rest/v9/oauth2.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(APIApplication): `approximate_user_install_count`
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(APIApplication): `approximate_user_install_count` (#1052)
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add Get Sticker Pack endpoint
  deno/rest/v10/mod.ts
  deno/rest/v10/sticker.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/sticker.ts
  rest/v10/index.ts
  rest/v10/sticker.ts
  rest/v9/index.ts
  rest/v9/sticker.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add Get Sticker Pack endpoint (#1053)
  deno/rest/v10/mod.ts
  deno/rest/v10/sticker.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/sticker.ts
  rest/v10/index.ts
  rest/v10/sticker.ts
  rest/v9/index.ts
  rest/v9/sticker.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTJSONErrorCodes): `UnknownStickerPack`
  deno/rest/common.ts
  rest/common.ts
Owners: @discordjs/discord-api-types, @discordjs/core

refactor: rexport APIVoiceState as gateway alias
  deno/gateway/mod.ts
  deno/payloads/mod.ts
  deno/payloads/v10/mod.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v6/mod.ts
  deno/payloads/v8/mod.ts
  deno/payloads/v9/mod.ts
  deno/payloads/v9/voice.ts
  deno/rest/mod.ts
  deno/rest/v10/mod.ts
  deno/rest/v6/mod.ts
  deno/rest/v8/mod.ts
  deno/rest/v9/mod.ts
  deno/rpc/mod.ts
  deno/utils/mod.ts
  deno/voice/mod.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

Revert "refactor: rexport APIVoiceState as gateway alias"
  deno/gateway/mod.ts
  deno/payloads/mod.ts
  deno/payloads/v10/mod.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v6/mod.ts
  deno/payloads/v8/mod.ts
  deno/payloads/v9/mod.ts
  deno/payloads/v9/voice.ts
  deno/rest/mod.ts
  deno/rest/v10/mod.ts
  deno/rest/v6/mod.ts
  deno/rest/v8/mod.ts
  deno/rest/v9/mod.ts
  deno/rpc/mod.ts
  deno/utils/mod.ts
  deno/voice/mod.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

refactor: rexport APIVoiceState as gateway alias
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTJSONErrorCodes): `UnknownStickerPack` (#1055)
  deno/rest/common.ts
  rest/common.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTJSONErrorCodes): add `40018`, `40019`, and `40094`
  deno/rest/common.ts
  rest/common.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: guild member banners
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: recurring scheduled events
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: recurring scheduled events (#1058)
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: interface name
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: interface name (#1059)
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(Routes): voice state endpoint (#1046)
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/voice.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/voice.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v10/voice.ts
  rest/v9/guild.ts
  rest/v9/index.ts
  rest/v9/voice.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(EmbedType): `PollResult`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: nullable `recurrence_rule` on patch
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: nullable `recurrence_rule` on patch (#1063)
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: nullable fields
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: nullable fields for scheduled event editing (#1064)
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Owners: @discordjs/discord-api-types, @discordjs/core

refactor(rest): ensure types follow naming pattern
  .eslint-plugin-local/index.ts
  .eslintrc.json
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/monetization.ts
  deno/rest/v10/oauth2.ts
  deno/rest/v10/poll.ts
  deno/rest/v10/sticker.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/monetization.ts
  deno/rest/v9/oauth2.ts
  deno/rest/v9/poll.ts
  deno/rest/v9/sticker.ts
  deno/rest/v9/webhook.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v10/monetization.ts
  rest/v10/oauth2.ts
  rest/v10/poll.ts
  rest/v10/sticker.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
  rest/v9/monetization.ts
  rest/v9/oauth2.ts
  rest/v9/poll.ts
  rest/v9/sticker.ts
  rest/v9/webhook.ts
Owners: @vladfrangu, @discordjs/discord-api-types, @discordjs/core

chore: show regex in lint message
  .eslint-plugin-local/index.ts
Owners: @vladfrangu

feat(RESTPatchAPIWebhookWithTokenMessageJSONBody): `poll`
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: type name
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: regex
  .eslint-plugin-local/index.ts
Owners: @vladfrangu

refactor(rest): ensure types follow naming pattern (#1065)
  .eslint-plugin-local/index.ts
  .eslintrc.json
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/monetization.ts
  deno/rest/v10/oauth2.ts
  deno/rest/v10/poll.ts
  deno/rest/v10/sticker.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/monetization.ts
  deno/rest/v9/oauth2.ts
  deno/rest/v9/poll.ts
  deno/rest/v9/sticker.ts
  deno/rest/v9/webhook.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v10/monetization.ts
  rest/v10/oauth2.ts
  rest/v10/poll.ts
  rest/v10/sticker.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
  rest/v9/monetization.ts
  rest/v9/oauth2.ts
  rest/v9/poll.ts
  rest/v9/sticker.ts
  rest/v9/webhook.ts
Owners: @vladfrangu, @discordjs/discord-api-types, @discordjs/core

feat(RESTAPIAttachment): add more properties
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(RESTAPIAttachment): add more properties (#1073)
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: entry point commands
  .eslintrc.json
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/responses.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/responses.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Owners: @vladfrangu, @discordjs/discord-api-types, @discordjs/core

feat(GuildMemberFlags): `IsGuest` and `DmSettingsUpsellAcknowledged`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat(GuildMemberFlags): `IsGuest` and `DmSettingsUpsellAcknowledged` (#1079)
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Owners: @discordjs/discord-api-types, @discordjs/core

feat: add subscriptions
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/monetization.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/monetization.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/monetization.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/monetization.ts
  payloads/v9/monetization.ts
  rest/v10/index.ts
  rest/v10/monetization.ts
  rest/v9/index.ts
  rest/v9/monetization.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: broken documentation links
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Owners: @discordjs/discord-api-types, @discordjs/core

fix: formatting
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Owners: @discordjs/discord-api-types, @discordjs/core

.github/CODEOWNERS:

* @vladfrangu

/*.ts @discordjs/discord-api-types @discordjs/core
gateway/ @discordjs/discord-api-types @discordjs/core
payloads/ @discordjs/discord-api-types @discordjs/core
rest/ @discordjs/discord-api-types @discordjs/core
rpc/ @discordjs/discord-api-types @discordjs/core
tests/ @discordjs/discord-api-types @discordjs/core
utils/ @discordjs/discord-api-types @discordjs/core
voice/ @discordjs/discord-api-types @discordjs/core
