Repository discordjs/discord-api-types, pull requests merged in 2020-12, with the labels that each got.

#43 chore: fix routes which were wrong; release 0.10.0
  package-lock.json
  package.json
  v8/rest/index.ts
Labels: priority:high, rest, semver:major

#46 types(GatewayChannelPinsUpdateDispatch): make last_pin_timestamp nullable
  v8/gateway/index.ts
Labels: semver:major, types, ws

#47 chore: add `pending` property to GuildMember
  v8/payloads/guild.ts
Labels: rest, semver:minor, types

#48 fix(RESTPatchAPIGuildJSONBody): multiple properties are actually nullable
  v8/rest/guild.ts
Labels: rest, semver:patch, types

#49 fix(APIGuildMember): drop nullability of `pending` prop
  v8/payloads/guild.ts
Labels: semver:minor

#44 chore: Slash Commands typings
  common/index.ts
  package-lock.json
  package.json
  tsconfig.json
  v8/gateway/index.ts
  v8/payloads/auditLog.ts
  v8/payloads/channel.ts
  v8/payloads/gateway.ts
  v8/payloads/guild.ts
  v8/payloads/index.ts
  v8/payloads/interactions.ts
  v8/payloads/invite.ts
  v8/payloads/teams.ts
  v8/payloads/user.ts
  v8/payloads/webhook.ts
  v8/rest/channel.ts
  v8/rest/guild.ts
  v8/rest/index.ts
  v8/rest/interactions.ts
Labels: rest, semver:major, types, ws

#50 chore: separate gateway payload data into separate exported types
  v8/gateway/index.ts
  v8/payloads/oauth2.ts
Labels: semver:patch, types, ws

#51 chore: release 0.11.0
  .github/FUNDING.yml
  package-lock.json
  package.json
  v8/rest/webhook.ts
Labels: rest, semver:minor, types

#52 fix(APIAuditLogEntry): user_id is not nullable
  v8/payloads/auditLog.ts
Labels: regression, rest, semver:minor, types

#55 chore: RESTPatchAPIGuildJSONBody `system_channel_flags` is optional; release 0.11.2
  package-lock.json
  package.json
  v8/rest/guild.ts
Labels: regression, rest, semver:patch, types

#56 chore(interactions): add `permissions` property to received member
  v8/payloads/interactions.ts
Labels: rest, types

#39 feat(GatewayActivity): add missing fields
  v8/payloads/gateway.ts
Labels: semver:minor, types, ws

#60 fix(RESTPatchAPIChannelJSONBody): add missing bitrate field
  v8/rest/channel.ts
Labels: rest, types
