Repository discordjs/discord-api-types, pull requests merged in 2020-11, with the labels that each got.

#35 chore: update API import to use v8 in readme
  README.md
Labels: documentation

#36 fix: webhookPlatform route
  v8/rest/index.ts
Labels: priority:high, rest, semver:minor

#38 chore: remove RESTGetAPIGuildIntegrationQuery (per Discord)
  v8/rest/guild.ts
Labels: rest, semver:major

#40 chore: rename `INLINE_REPLY` to `REPLY`
  v8/payloads/channel.ts
Labels: semver:major, types

#32 feat(Message): Stickers
  common/index.ts
  v8/payloads/channel.ts
Labels: hacktoberfest-accepted, semver:minor, types, ws

#34 feat(Message): reply updates
  v8/payloads/channel.ts
  v8/rest/channel.ts
Labels: rest, semver:minor, types

#42 chore: add missing voice op code; release 0.9.1
  package-lock.json
  package.json
  v8/gateway/index.ts
Labels: semver:patch, voice

#25 feat: server templates
  common/index.ts
  v8/payloads/guild.ts
  v8/payloads/index.ts
  v8/payloads/template.ts
  v8/rest/guild.ts
  v8/rest/index.ts
  v8/rest/template.ts
Labels: hacktoberfest-accepted, rest, semver:minor, types
