Repository discordjs/discord-api-types, pull requests merged in 2020-09, with the labels that each got.

#3 chore: add error code 20028
  common/index.ts
Labels: rest, semver:patch, types

#2 chore(GuildFeature): add RELAY_ENABLED
  v6/payloads/guild.ts
Labels: semver:patch, types

#5 chore(UserFlags): update for PR discord/discord-api-docs#2011
  v6/payloads/user.ts
Labels: rest, semver:major, types

#4 chore(Enums): sort some enums alphabetically
  README.md
  v6/payloads/gateway.ts
  v6/payloads/guild.ts
  v6/rest/channel.ts
Labels: semver:patch, types

#6 chore(Types): update for PR discord/discord-api-docs#1886
  v6/payloads/guild.ts
  v6/payloads/webhook.ts
Labels: rest, semver:major, types

#7 chore(configs): cleanup package.json, merge with eslintrc
  .eslintrc.json
  .github/workflows/codequality.yml
  .gitignore
  package-lock.json
  package.json
  tsconfig.json
  v6/gateway/index.ts
  v6/payloads/gateway.ts
  yarn.lock
Labels: dependencies, semver:patch

#8 chore: release 0.2.0
  package-lock.json
  package.json
Labels: semver:major

#9 fix(APIMessage): Correct APIMessage#mentions type
  v6/payloads/channel.ts
Labels: priority:high, semver:major, types

#10 chore: release 0.3.0
  package-lock.json
  package.json
Labels: semver:major

#11 feat(ActivityType): add Competing activity type
  v6/payloads/gateway.ts
Labels: semver:minor, types

#15 chore: fix audit log types and release 0.4.0
  package.json
  v6/payloads/auditLog.ts
Labels: priority:high, rest, semver:major, types

#16 feat: add oauth2 types
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  v6/rest/oauth2.ts
Labels: rest, semver:minor, types

#19 fix(APIUser): premium_type is optional
  v6/payloads/user.ts
Labels: semver:minor, types

#17 fix(GatewayIdentifyProperties): rename `device` to `$device`
  v6/gateway/index.ts
Labels: semver:major, types, ws

#18 fix(*): correct typos
  common/index.ts
  v6/payloads/guild.ts
  v6/payloads/permissions.ts
Labels: documentation, semver:major, types

#21 fix(APIChannel): position is optional
  v6/payloads/channel.ts
Labels: semver:minor, types
