Repository discordjs/discord-api-types, pull requests merged in 2020-10, with the labels that each got.

#22 fix(RESTPostAPIGuildsJSONBody): use correct types
  v6/rest/guild.ts
Labels: rest, semver:minor, types

#23 chore: release 0.6.0
  package.json
  v6/gateway/index.ts
  v6/rest/channel.ts
  v6/rest/guild.ts
  v6/rest/invite.ts
  v6/rest/webhook.ts
Labels: documentation, semver:major, types

#24 feat(APIGuildWidgetMember): add activity and use proper status type
  v8/payloads/guild.ts
Labels: rest, semver:patch, types

#28 fix(GatewayIdentify): use correct presence interface
  v8/gateway/index.ts
Labels: regression, semver:major, types, ws

#30 fix(GatewayPresence): correct type for sent activity objects
  v8/gateway/index.ts
  v8/payloads/gateway.ts
Labels: semver:major, types, ws

#33 chore: fix mistypes (literally) for inline replies
  v8/payloads/channel.ts
  v8/rest/channel.ts
Labels: rest, semver:major, types
