Repository discordjs/discord-api-types, pull requests merged in 2021-02, with the labels that each got.

#79 feat: implement FormatPatterns
  common/index.ts
Labels: backlog, semver:minor

#80 chore: shorten regular expression group properties
  common/index.ts
Labels: semver:major

#82 feat(APIMessageReferenceSend): add `fail_if_not_exists`
  v8/rest/channel.ts
Labels: rest, semver:minor, types

#81 chore: add missing audit log keys
  v8/payloads/auditLog.ts
Labels: rest, semver:minor, types

#83 chore(Gateway): clarify Heartbeat OP as bidirectional
  deno/v8/gateway/mod.ts
  v8/gateway/index.ts
Labels: documentation, semver:patch

#87 feat(rest): api base routes
  .vscode/settings.json
  v8/rest/index.ts
Labels: rest, semver:minor

#91 fix(RESTPostAPIGuildsJSONBody): make some fields nullable
  v8/rest/guild.ts
Labels: rest, semver:patch, types

#77 chore: miscellaneous tasks
  .github/workflows/cicd.yml
  .github/workflows/codequality.yml
  .prettierrc.json
  README.md
  deno/README.md
  deno/common/mod.ts
  deno/mod.ts
  deno/v8/gateway/mod.ts
  deno/v8/payloads/auditLog.ts
  deno/v8/payloads/interactions.ts
  deno/v8/payloads/template.ts
  deno/v8/rest/channel.ts
  deno/v8/rest/interactions.ts
  deno/v8/rest/mod.ts
  deno/v8/rest/oauth2.ts
  deno/v8/rest/webhook.ts
  package-lock.json
  package.json
  scripts/deno.mjs
  v8/gateway/index.ts
  v8/payloads/auditLog.ts
  v8/payloads/guild.ts
  v8/payloads/interactions.ts
  v8/payloads/template.ts
  v8/rest/index.ts
Labels: rest, semver:major, types, ws
