Repository discordjs/discord-api-types, pull requests merged in 2021-01, with the labels that each got.

#66 fix: run deno workflow only on branch push
  .github/workflows/deno.yml
Labels: regression

#69 feat: add Snowflake and Permissions types
  .vscode/settings.json
  common/index.ts
  v8/gateway/index.ts
  v8/payloads/auditLog.ts
  v8/payloads/channel.ts
  v8/payloads/emoji.ts
  v8/payloads/gateway.ts
  v8/payloads/guild.ts
  v8/payloads/interactions.ts
  v8/payloads/oauth2.ts
  v8/payloads/permissions.ts
  v8/payloads/teams.ts
  v8/payloads/template.ts
  v8/payloads/user.ts
  v8/payloads/voice.ts
  v8/payloads/webhook.ts
  v8/rest/auditLog.ts
  v8/rest/channel.ts
  v8/rest/emoji.ts
  v8/rest/guild.ts
  v8/rest/index.ts
  v8/rest/oauth2.ts
  v8/rest/user.ts
  v8/rest/webhook.ts
Labels: semver:minor, types

#71 feat(Webhook): add Edit Webhook Message result and error 50027
  common/index.ts
  v8/rest/webhook.ts
Labels: rest, semver:minor, types

#75 feat: add Application Command events
  v8/gateway/index.ts
Labels: semver:minor, types, ws

#76 feat: add GET single Application Command
  common/index.ts
  v8/rest/index.ts
  v8/rest/interactions.ts
Labels: rest, semver:minor, types

#78 chore(APIGuildMember): make `premium_since` not optional
  v8/payloads/guild.ts
Labels: semver:minor, types, ws
