Repository discordjs/discord-api-types, pull requests merged in 2021-12, with the labels that each got.

#182 fix(APIInvite): channel can be null
  deno/payloads/v8/invite.ts
  deno/payloads/v9/invite.ts
  payloads/v8/invite.ts
  payloads/v9/invite.ts
Labels: semver:major

#267 fix(GatewayStageInstance): Stage Instance dispatches not included in `GatewayDispatchPayload`
  deno/gateway/v9.ts
  gateway/v9.ts
Labels: semver:patch

#250 types: make application command option union easier to use
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
  tests/v9/chatInputOptions.test-d.ts
Labels: semver:patch

#268 feat: Add API error code 50109
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor

#274 chore: cleanup chat input options
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/boolean.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/channel.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/mentionable.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/role.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/string.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/subcommand.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/user.ts
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/boolean.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/channel.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/mentionable.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/role.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/string.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/subcommand.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/user.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/boolean.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/channel.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/mentionable.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/role.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/string.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/subcommand.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/user.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/boolean.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/channel.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/mentionable.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/role.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/string.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/subcommand.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/user.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
  tests/v9/chatInputOptions.test-d.ts
Labels: semver:major

#278 feat(APIGuildScheduledEvent): add more precise types for stage instance/voice/external events
  deno/payloads/v8/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v8/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Labels: types, semver:minor, refactor

#281 feat(APIAuditLogChangeData): Add `communication_disabled_until`
  deno/payloads/v8/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v8/auditLog.ts
  payloads/v9/auditLog.ts
Labels: semver:minor
