Repository discordjs/discord-api-types, pull requests merged in 2021-11, with the labels that each got.

#212 feat(UserFlags): add `BOT_HTTP_INTERACTIONS` flag
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: semver:minor

#207 feat(ActivityFlags): add new flags
  deno/payloads/v8/gateway.ts
  deno/payloads/v9/gateway.ts
  payloads/v8/gateway.ts
  payloads/v9/gateway.ts
Labels: semver:minor

#221 feat: add max/min option for number-based options
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
Labels: semver:minor

#229 refactor(UserFlags): update flag names
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: semver:major

#248 fix(APISelectMenuComponent): `options` property is required
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: semver:patch
