Repository discordjs/discord-api-types, pull requests merged in 2021-10, with the labels that each got.

#204 feat: Add role icons
  deno/payloads/v8/guild.ts
  deno/payloads/v8/permissions.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/permissions.ts
  deno/rest/v8/guild.ts
  deno/rest/v9/guild.ts
  payloads/v8/guild.ts
  payloads/v8/permissions.ts
  payloads/v9/guild.ts
  payloads/v9/permissions.ts
  rest/v8/guild.ts
  rest/v9/guild.ts
Labels: semver:minor

#208 feat(APIGuildMember): add per guild avatars
  deno/payloads/v8/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v8/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor

#198 feat(APIApplicationCommand): add `channel_types` field to channel options
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
Labels: types, semver:minor

#214 refactor(APIVoiceRegion): removed `vip` property
  deno/payloads/v8/voice.ts
  deno/payloads/v9/voice.ts
  payloads/v8/voice.ts
  payloads/v9/voice.ts
Labels: semver:major
