Repository discordjs/discord-api-types, pull requests merged in 2021-03, with the labels that each got.

#90 feat(APIInteractionResponse, APIInteractionResponseType): update for UI changes
  v8/payloads/interactions.ts
Labels: semver:major, types, ws

#84 feat(APIInteraction): DM slash commands and property descriptions
  deno/v8/payloads/interactions.ts
  deno/v8/rest/guild.ts
  v8/payloads/interactions.ts
Labels: semver:major, types, ws

#89 fix(deno): replace `const enum` exports in deno with normal `enum`s
  deno/common/mod.ts
  deno/v8/gateway/mod.ts
  deno/v8/payloads/auditLog.ts
  deno/v8/payloads/channel.ts
  deno/v8/payloads/gateway.ts
  deno/v8/payloads/guild.ts
  deno/v8/payloads/interactions.ts
  deno/v8/payloads/invite.ts
  deno/v8/payloads/oauth2.ts
  deno/v8/payloads/teams.ts
  deno/v8/payloads/user.ts
  deno/v8/payloads/webhook.ts
  scripts/deno.mjs
Labels: bug

#86 feat(APIApplicationCommandInteractionData): add `resolved`
  deno/v8/payloads/interactions.ts
  v8/payloads/interactions.ts
Labels: rest, semver:minor, types, ws

#95 chore: add missing GitHub mds
  .github/CODE_OF_CONDUCT.md
  .github/COMMIT_CONVENTION.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  .npmrc
  package-lock.json
  package.json
Labels: backlog, dependencies, documentation

#72 chore(APIApplicationCommandInteractionDataOption): add types and their values
  deno/v8/payloads/interactions.ts
  v8/payloads/interactions.ts
Labels: backlog, semver:major, types

#85 feat(PermissionFlagsBits): add `USE_APPLICATION_COMMANDS`
  deno/v8/payloads/permissions.ts
  v8/payloads/permissions.ts
Labels: documentation, semver:minor, types

#99 chore: release 0.13.0
  package-lock.json
  package.json
Labels: priority:high, semver:major, types

#100 fix(APIInteractionResponse): `data` should not always be present
  deno/v8/payloads/interactions.ts
  v8/payloads/interactions.ts
Labels: bug, semver:patch, types
