Repository discordjs/discord-api-types, pull requests merged in 2021-08, with the labels that each got.

#184 chore: add missing error codes
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, rest

#185 feat(threads): add `invitable`
  deno/payloads/v9/channel.ts
  deno/rest/v9/channel.ts
  payloads/v9/channel.ts
  rest/v9/channel.ts
Labels: semver:minor

#188 chore: Update invite link
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SUPPORT.md
Labels: documentation

#189 fix(auditLog): Correct nickname type
  deno/payloads/v8/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v8/auditLog.ts
  payloads/v9/auditLog.ts
Labels: types, semver:major, bug
