Repository discordjs/discord-api-types, pull requests merged in 2021-04, with the labels that each got.

#107 feat: stage channels!
  deno/v8/payloads/channel.ts
  deno/v8/payloads/permissions.ts
  deno/v8/payloads/voice.ts
  deno/v8/rest/guild.ts
  deno/v8/rest/mod.ts
  package.json
  v8/payloads/channel.ts
  v8/payloads/permissions.ts
  v8/payloads/voice.ts
  v8/rest/guild.ts
  v8/rest/index.ts
Labels: semver:minor, types

#105 feat: invite reminder system message type and flag
  deno/v8/payloads/channel.ts
  deno/v8/payloads/guild.ts
  v8/payloads/channel.ts
  v8/payloads/guild.ts
Labels: semver:minor, types

#111 fix(APIApplicationCommand): default_permission
  deno/payloads/v8/interactions.ts
  payloads/v8/interactions.ts
Labels: semver:major, types

#115 feat(RESTJSONErrorCode): add `UnknownInteraction` error code
  deno/rest/common.ts
  rest/common.ts
Labels: rest, semver:minor, types

#114 docs(Routes): add GET route to `webhookMessage`
  deno/rest/v8/mod.ts
  rest/v8/index.ts
Labels: rest, semver:major, types

#116 feat(Guild): add `nsfw` property
  deno/payloads/v8/guild.ts
  payloads/v8/guild.ts
Labels: types

#118 fix(APIChannel): `rtc_region` is optional
  deno/payloads/v8/channel.ts
  payloads/v8/channel.ts
Labels: semver:major, types

#119 refactor(APISticker): remove `preview_asset`
  deno/payloads/v8/channel.ts
  payloads/v8/channel.ts
Labels: semver:major, types

#126 feat(ApplicationCommandOptionType): add `MENTIONABLE` (9)
  deno/payloads/v8/interactions.ts
  payloads/v8/interactions.ts
Labels: semver:minor, types

#127 feat(APIInvite): add `expires_at` field and `with_expiration` param
  deno/payloads/v8/invite.ts
  deno/rest/v8/invite.ts
  payloads/v8/invite.ts
  rest/v8/invite.ts
Labels: rest, semver:minor, types

#128 fix(APIInvite): `expires_at` is nullable
  deno/payloads/v8/invite.ts
  payloads/v8/invite.ts
Labels: regression, semver:major
