Repository discordjs/discord-api-types, pull requests merged in 2021-07, with the labels that each got.

#151 feat: add stage instance related typings to audit logs
  deno/payloads/v8/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v8/auditLog.ts
  payloads/v9/auditLog.ts
Labels: rest, semver:minor

#156 chore: Get up to date *again*
  .github/workflows/cicd.yml
  deno/gateway/v8.ts
  deno/gateway/v9.ts
  deno/payloads/v8/_interactions/base.ts
  deno/payloads/v8/_interactions/messageComponents.ts
  deno/payloads/v8/_interactions/responses.ts
  deno/payloads/v8/_interactions/slashCommands.ts
  deno/payloads/v8/auditLog.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v8/guild.ts
  deno/payloads/v8/interactions.ts
  deno/payloads/v8/oauth2.ts
  deno/payloads/v8/user.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/messageComponents.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/_interactions/slashCommands.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/interactions.ts
  deno/payloads/v9/oauth2.ts
  deno/payloads/v9/user.ts
  deno/rest/v8/mod.ts
  deno/rest/v9/mod.ts
  deno/utils/v8.ts
  deno/utils/v9.ts
  gateway/v8.ts
  gateway/v9.ts
  package-lock.json
  package.json
  payloads/v8/_interactions/base.ts
  payloads/v8/_interactions/messageComponents.ts
  payloads/v8/_interactions/responses.ts
  payloads/v8/_interactions/slashCommands.ts
  payloads/v8/auditLog.ts
  payloads/v8/channel.ts
  payloads/v8/guild.ts
  payloads/v8/interactions.ts
  payloads/v8/oauth2.ts
  payloads/v8/user.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/messageComponents.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/_interactions/slashCommands.ts
  payloads/v9/auditLog.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  payloads/v9/interactions.ts
  payloads/v9/oauth2.ts
  payloads/v9/user.ts
  rest/v8/index.ts
  rest/v9/index.ts
  tests/v9/interactions.test-d.ts
  tsconfig.eslint.json
  utils/v8.ts
  utils/v9.ts
Labels: rest, semver:major, types, ws

#159 refactor: change `xID` to `xId`
  deno/payloads/v8/auditLog.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/channel.ts
  deno/rest/v8/mod.ts
  deno/rest/v9/mod.ts
  deno/rpc/v8.ts
  deno/rpc/v9.ts
  deno/utils/v8.ts
  deno/utils/v9.ts
  payloads/v8/auditLog.ts
  payloads/v8/channel.ts
  payloads/v9/auditLog.ts
  payloads/v9/channel.ts
  rest/v8/index.ts
  rest/v9/index.ts
  rpc/v8.ts
  rpc/v9.ts
  utils/v8.ts
  utils/v9.ts
Labels: refactor, semver:major

#176 fix(MessageComponent): correct type for emoji
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: semver:patch

#175 chore(ApplicationCommandOptionType): casing changes for subcommands
  deno/payloads/v8/_interactions/slashCommands.ts
  deno/payloads/v9/_interactions/slashCommands.ts
  payloads/v8/_interactions/slashCommands.ts
  payloads/v9/_interactions/slashCommands.ts
Labels: semver:major
