Repository discordjs/discord-api-types, pull requests merged in 2021-09, with the labels that each got.

#180 feat(MessageType): add ContextMenuCommand and rename ApplicationCommand to ChatInputCommand
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: semver:major

#192 fix(Embed): corrent certain optional types as being required
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: types, rest, semver:major

#193 feat(APIApplicationCommand): add `version` field
  deno/payloads/v8/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/v8/_interactions/applicationCommands.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: types, semver:minor, rest

#191 chore(Gateway): remove `APPLICATION_COMMAND_*` events
  deno/gateway/v8.ts
  deno/gateway/v9.ts
  gateway/v8.ts
  gateway/v9.ts
Labels: ws, semver:major

#195 fix(RESTPostAPIBaseApplicationCommandsJSONBody): omit `version` field
  deno/rest/v8/interactions.ts
  deno/rest/v9/interactions.ts
  rest/v8/interactions.ts
  rest/v9/interactions.ts
Labels: types, semver:patch, rest

#197 feat(PermissionFlagsBits): add `StartEmbeddedActivities`
  deno/payloads/v8/permissions.ts
  deno/payloads/v9/permissions.ts
  payloads/v8/permissions.ts
  payloads/v9/permissions.ts
Labels: semver:minor

#199 feat(APIAttachment): add ephemeral field
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: types, semver:minor

#181 feat(PermissionFlagBits): update thread permissions
  deno/payloads/v9/permissions.ts
  payloads/v9/permissions.ts
Labels: semver:major
