Repository discordjs/discord-api-types, pull requests merged in 2021-05, with the labels that each got.

#129 feat: add new interfaces for interaction-related structures
  deno/payloads/v8/interactions.ts
  payloads/v8/interactions.ts
Labels: refactor, semver:minor, types

#131 refactor(Enums): make property casing consistent
  deno/gateway/v8.ts
  deno/payloads/v8/auditLog.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v8/gateway.ts
  deno/payloads/v8/guild.ts
  deno/payloads/v8/interactions.ts
  deno/payloads/v8/invite.ts
  deno/payloads/v8/permissions.ts
  deno/payloads/v8/teams.ts
  deno/rest/v8/channel.ts
  deno/voice/v4.ts
  gateway/v8.ts
  payloads/v8/auditLog.ts
  payloads/v8/channel.ts
  payloads/v8/gateway.ts
  payloads/v8/guild.ts
  payloads/v8/interactions.ts
  payloads/v8/invite.ts
  payloads/v8/permissions.ts
  payloads/v8/teams.ts
  rest/v8/channel.ts
  voice/v4.ts
Labels: refactor, semver:major

#134 fix(RESTOAuth2): correct casing of `OAuth`
  deno/rest/v8/oauth2.ts
  rest/v8/oauth2.ts
Labels: semver:major
