Repository discordjs/discord-api-types, pull requests merged in 2022-12, with the labels that each got.

#657 docs: update description for StickerType.Guild
  deno/payloads/v10/sticker.ts
  deno/payloads/v9/sticker.ts
  payloads/v10/sticker.ts
  payloads/v9/sticker.ts
Labels: topic:payloads

#661 ci: Assign reviewers on drafts
  .github/auto_assign.yml
  .github/workflows/pr-automation.yml
Labels: ci

#666 fix(APIChannel): correctly type `name` based on channel type
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  tests/v10/channel.test-d.ts
Labels: semver:patch, topic:payloads, topic:tests

#659 chore(UserFlags): update certified moderator description
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#637 feat(APIApplicationCommand): add `nsfw` field
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: semver:minor, topic:payloads

#651 feat: add role connections
  deno/payloads/v10/application.ts
  deno/payloads/v10/oauth2.ts
  deno/payloads/v10/user.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/oauth2.ts
  deno/payloads/v9/user.ts
  deno/rest/v10/application.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/user.ts
  deno/rest/v9/application.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/user.ts
  payloads/v10/application.ts
  payloads/v10/oauth2.ts
  payloads/v10/user.ts
  payloads/v9/application.ts
  payloads/v9/oauth2.ts
  payloads/v9/user.ts
  rest/v10/application.ts
  rest/v10/index.ts
  rest/v10/user.ts
  rest/v9/application.ts
  rest/v9/index.ts
  rest/v9/user.ts
Labels: topic:payloads, topic:rest

#669 fix(APIChannel): correctly type present properties based on channel type
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  tests/v10/channel.test-d.ts
Labels: topic:payloads, topic:tests

#652 fix(Interactions): make app_permissions required
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/messageComponents.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/messageComponents.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/messageComponents.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/messageComponents.ts
Labels: topic:payloads

#643 feat(Locale): add Indonesian locale
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#658 feat(APIGuildForumChannel): add `default_forum_layout`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:payloads, topic:rest

#673 fix(APIApplicationRoleConnection): `metadata` values can be numbers
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Labels: topic:payloads, topic:rest

#639 docs(ApplicationFlags): add descriptions to each flag
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: topic:payloads
