Repository discordjs/discord-api-types, pull requests merged in 2022-02, with the labels that each got.

#310 refactor: allow omitting `allow` and `deny` in `permission_overwrites`
  deno/rest/v8/channel.ts
  deno/rest/v9/channel.ts
  rest/v8/channel.ts
  rest/v9/channel.ts
Labels: semver:minor

#311 feat(GatewayThreadCreateDispatch): Add `newly_created` field`
  deno/gateway/v9.ts
  gateway/v9.ts
Labels: semver:minor

#312 fix(GatewayThreadCreateDispatchData): `newly_created` is optional, and `true` when present
  deno/gateway/v9.ts
  gateway/v9.ts
Labels: semver:patch

#314 feat(RESTJSONErrorCodes): add error 40004
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor

#315 refactor(APIGuildScheduledEventBase): make `creator_id` optional
  deno/payloads/v8/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v8/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Labels: semver:major

#272 feat(ApplicationCommand): attachment application command option type
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/attachment.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/attachment.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/attachment.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/attachment.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
Labels: semver:minor

#243 feat(Interactions): add modal and text input interactions
  deno/payloads/v8/_interactions/modalSubmit.ts
  deno/payloads/v8/_interactions/responses.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v8/interactions.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/interactions.ts
  deno/rest/v8/channel.ts
  deno/rest/v8/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v8/_interactions/modalSubmit.ts
  payloads/v8/_interactions/responses.ts
  payloads/v8/channel.ts
  payloads/v8/interactions.ts
  payloads/v9/_interactions/modalSubmit.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
  payloads/v9/interactions.ts
  rest/v8/channel.ts
  rest/v8/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: semver:major

#320 feat(RESTJSONErrorCodes): add error 40060
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, rest

#322 fix: make `data` required in autocomplete interaction and add separate dm/guild types
  deno/payloads/v8/_interactions/autocomplete.ts
  deno/payloads/v8/interactions.ts
  deno/payloads/v9/_interactions/autocomplete.ts
  deno/payloads/v9/interactions.ts
  payloads/v8/_interactions/autocomplete.ts
  payloads/v8/interactions.ts
  payloads/v9/_interactions/autocomplete.ts
  payloads/v9/interactions.ts
  tests/v9/interactions.test-d.ts
Labels: semver:minor

#309 fix(APIInteractions): export ApplicationCommandAutocomplete
  deno/payloads/v8/interactions.ts
  deno/payloads/v9/interactions.ts
  payloads/v8/interactions.ts
  payloads/v9/interactions.ts
Labels: semver:patch

#325 refactor(APIComponents): simplify action row types
  deno/payloads/v8/_interactions/modalSubmit.ts
  deno/payloads/v8/_interactions/responses.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  deno/rest/v8/channel.ts
  deno/rest/v8/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v8/_interactions/modalSubmit.ts
  payloads/v8/_interactions/responses.ts
  payloads/v8/channel.ts
  payloads/v9/_interactions/modalSubmit.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
  rest/v8/channel.ts
  rest/v8/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: semver:patch

#319 chore: cleanup and improve CI
  .babelrc
  .eslintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  .github/labels.yml
  .github/workflows/check-deno.yml
  .github/workflows/cicd.yml
  .github/workflows/create-pr-for-release-and-publish.yml
  .github/workflows/labelsync.yml
  .github/workflows/publish-next.yml
  .gitignore
  .npmrc
  .prettierignore
  deno/gateway/v6.ts
  deno/payloads/v6/gateway.ts
  gateway/v6.ts
  package-lock.json
  package.json
  payloads/v6/gateway.ts
  scripts/actions/create-pr.mjs
  scripts/actions/create-release.mjs
  scripts/actions/report-deno-not-ran.mjs
  scripts/bump-version.mjs
  scripts/deno.mjs
  scripts/tsconfig.json
  scripts/versions.mjs
  tsconfig.eslint.json
Labels: backlog, ci

#327 fix(CI): skip pull request checks for runs that don't include the token
  scripts/bump-version.mjs
Labels: regression

#333 fix(APIInteractionResponse): add `APIModalInteractionResponse` to union
  deno/payloads/v8/_interactions/responses.ts
  deno/payloads/v9/_interactions/responses.ts
  payloads/v8/_interactions/responses.ts
  payloads/v9/_interactions/responses.ts
Labels: semver:patch, topic:payloads

#332 fix(APIApplicationCommandAutocompleteInteraction): make `options` field required
  deno/payloads/v8/_interactions/autocomplete.ts
  deno/payloads/v9/_interactions/autocomplete.ts
  payloads/v8/_interactions/autocomplete.ts
  payloads/v9/_interactions/autocomplete.ts
  tests/v9/interactions.test-d.ts
Labels: semver:patch, topic:payloads

#335 ci: run publish workflow every Monday and Thursday
  .github/workflows/create-pr-for-release-and-publish.yml
Labels: semver:patch, ci

#317 chore(APIInviteStageInstance, APIStageInstance): deprecate stage discovery
  deno/payloads/v10/invite.ts
  deno/payloads/v10/stageInstance.ts
  deno/payloads/v9/invite.ts
  deno/payloads/v9/stageInstance.ts
  payloads/v10/invite.ts
  payloads/v10/stageInstance.ts
  payloads/v9/invite.ts
  payloads/v9/stageInstance.ts
Labels: semver:patch, chore, topic:payloads

#339 fix(APIApplicationCommandAutocompleteInteraction): make `options` field required for v10 (PR #332 redo)
  deno/payloads/v10/_interactions/autocomplete.ts
  payloads/v10/_interactions/autocomplete.ts
Labels: semver:minor, topic:payloads

#342 refactor(PermissionFlagsBits): rename `StartEmbeddedActivities` to `UseEmbeddedActivities`
  deno/payloads/common.ts
  payloads/common.ts
Labels: semver:major, topic:payloads

#349 ci: remove deprecate regular versions
  .github/workflows/create-pr-for-release-and-publish.yml
Labels: ci
