Repository discordjs/discord-api-types, pull requests merged in 2022-06, with the labels that each got.

#464 chore(docs): write contributing guide
  website/docs/Contributing.mdx
  website/docs/Introduction.mdx
  website/docs/images/deno_types_out_of_sync.png
  website/src/css/custom.scss
  website/versioned_docs/version-0.33.0/Contributing.mdx
  website/versioned_docs/version-0.33.0/Introduction.mdx
  website/versioned_docs/version-0.33.0/images/deno_types_out_of_sync.png
  website/versioned_docs/version-0.33.1/Contributing.mdx
  website/versioned_docs/version-0.33.1/Introduction.mdx
  website/versioned_docs/version-0.33.1/images/deno_types_out_of_sync.png
Labels: topic:website

#329 chore(Changelog): show who created the pull request that was merged
  .github/workflows/create-pr-for-release-and-publish.yml
  scripts/actions/create-release.mjs
Labels: ci, topic:scripts

#467 docs: fix line highlighting for contributing guide
  website/docs/Contributing.mdx
  website/versioned_docs/version-0.33.0/Contributing.mdx
  website/versioned_docs/version-0.33.1/Contributing.mdx
  website/versioned_docs/version-0.33.2/Contributing.mdx
Labels: topic:website

#468 docs: fix typo
  .vscode/settings.json
  website/docs/Contributing.mdx
  website/versioned_docs/version-0.33.0/Contributing.mdx
  website/versioned_docs/version-0.33.1/Contributing.mdx
  website/versioned_docs/version-0.33.2/Contributing.mdx
Labels: topic:website

#471 fix(AddUndefinedToPossiblyUndefinedProperties): recurse down objects
  deno/utils/internals.ts
  utils/internals.ts
Labels: semver:patch, topic:utils

#463 feat(RESTPostAPIWebhookWithTokenJSONBody): add `thread_name`
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Labels: semver:minor, topic:rest

#479 fix(Webhook): `thread_name` should be optional
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Labels: topic:rest

#478 chore: make website build again -.-
  scripts/bump-website-version.mjs
  website/package-lock.json
  website/package.json
  website/versioned_docs/version-0.33.0/Contributing.mdx
  website/versioned_docs/version-0.33.0/Introduction.mdx
  website/versioned_docs/version-0.33.0/api-packages.json
  website/versioned_docs/version-0.33.0/api-typedoc.json
  website/versioned_docs/version-0.33.0/images/deno_types_out_of_sync.png
  website/versioned_sidebars/version-0.33.0-sidebars.json
  website/versions.json
Labels: dependencies, topic:scripts, topic:website

#469 feat(RESTJSONErrorCodes): add error `30052`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#482 chore: showcase website in package.json
  package.json
Labels: dependencies, chore

#466 feat(RESTJSONErrorCodes): add 220003 error
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#474 docs(RESTPatchAPIChannelJSONBody): voice channels can be set as nsfw
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:rest

#476 feat: add guild mfa endpoint and error `50017`
  deno/rest/common.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  rest/common.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Labels: semver:minor, topic:rest

#434 refactor: separate `MESSAGE_CREATE` fields from `APIMessage` object
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:major, topic:gateway, topic:payloads

#485 docs: fix some grammar mistakes
  website/docs/Contributing.mdx
  website/versioned_docs/version-0.33.2/Contributing.mdx
  website/versioned_docs/version-0.33.3/Contributing.mdx
  website/versioned_docs/version-0.33.4/Contributing.mdx
  website/versioned_docs/version-0.33.5/Contributing.mdx
Labels: topic:website

#486 docs: lazy load JetBrains mono font
  website/src/components/Home/HeadTags.tsx
Labels: topic:website

#488 chore: fix ci for publishing new versions
  website/.npmrc
  website/package-lock.json
  website/package.json
Labels: dependencies, topic:website

#493 refactor(GatewayIdentifyProperties): remove `$` prefix from keys
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: semver:major, topic:gateway

#496 feat(APIEmbedVideo): add missing `proxy_url` property
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:minor, topic:payloads

#500 chore(UserFlags): add `@unstable` to `Spammer` flag
  deno/payloads/v10/user.ts
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#502 feat(REST): add `CDNRoutes`
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: semver:minor, topic:rest

#495 feat(UserFlags): add `Quarantined` flag
  deno/payloads/v10/user.ts
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: semver:minor, topic:payloads

#498 feat(MessageType): update names
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:major, topic:payloads
