Repository discordjs/discord-api-types, pull requests merged in 2022-04, with the labels that each got.

#392 docs(FormattingPatterns): mark `UserWithNickname` and `UserWithOptionalNickname` as deprecated
  deno/globals.ts
  globals.ts
Labels: semver:patch, topic:globals

#215 feat: student hubs
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
Labels: semver:minor, topic:payloads

#398 feat(APIGuildForum): add support for forums, part 1
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/common.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/common.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:payloads, topic:rest

#400 feat(RESTPostAPIGuildChannelJSONBody): add `default_auto_archive_duration` prop
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  deno/utils/internals.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
  utils/internals.ts
Labels: semver:minor, topic:rest, topic:utils

#402 docs: fix links from DDevs portal
  deno/payloads/v10/channel.ts
  deno/payloads/v10/oauth2.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/oauth2.ts
  deno/rest/common.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/oauth2.ts
  deno/rest/v10/stageInstance.ts
  deno/rest/v10/sticker.ts
  deno/rest/v10/template.ts
  deno/rest/v10/user.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/oauth2.ts
  deno/rest/v9/stageInstance.ts
  deno/rest/v9/sticker.ts
  deno/rest/v9/template.ts
  deno/rest/v9/user.ts
  payloads/v10/channel.ts
  payloads/v10/oauth2.ts
  payloads/v9/channel.ts
  payloads/v9/oauth2.ts
  rest/common.ts
  rest/v10/channel.ts
  rest/v10/oauth2.ts
  rest/v10/stageInstance.ts
  rest/v10/sticker.ts
  rest/v10/template.ts
  rest/v10/user.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/oauth2.ts
  rest/v9/stageInstance.ts
  rest/v9/sticker.ts
  rest/v9/template.ts
  rest/v9/user.ts
Labels: topic:payloads, topic:rest

#406 refactor(APIGuildIntegration): make `enabled` optional
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:payloads

#409 fix: add `position` property to create channel options
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:rest

#408 feat(RESTJSONErrorCodes): add error `50080`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#416 feat: add `message` field into both `RESTPostAPIGuildForumThreads`
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, semver:minor, topic:rest

#404 chore(ActivityPlatform): update platform enum
  deno/payloads/v10/gateway.ts
  deno/payloads/v9/gateway.ts
  payloads/v10/gateway.ts
  payloads/v9/gateway.ts
Labels: semver:minor, topic:payloads
