Repository discordjs/discord-api-types, pull requests merged in 2022-09, with the labels that each got.

#579 fix(GuildChannelType): add missing `GuildCategory` type
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#549 feat(GuildFeature): add `InvitesDisabled`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor, topic:payloads

#548 feat(ConnectionService): add new connections
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: semver:minor, topic:payloads

#585 feat: add `RESTRateLimit`
  deno/payloads/common.ts
  payloads/common.ts
Labels: topic:payloads

#570 feat(APIGuild): document afk timeout values
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:patch, topic:payloads, topic:rest

#546 feat(APIConnection): add `two_way_link`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: semver:minor, topic:payloads

#575 feat(APIGuildForumChannel): update and add missing features
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/common.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/common.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:payloads, topic:rest

#589 feat(APIGuildForumChannel): add `default_sort_order`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
Labels: topic:payloads, topic:rest
