Repository discordjs/discord-api-types, pull requests merged in 2022-10, with the labels that each got.

#418 feat(APIAutoModeration): add support for auto moderation
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/auditLog.ts
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/mod.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/autoModeration.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/mod.ts
  deno/rest/v10/autoModeration.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/autoModeration.ts
  deno/rest/v9/mod.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/auditLog.ts
  payloads/v10/autoModeration.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v10/index.ts
  payloads/v9/auditLog.ts
  payloads/v9/autoModeration.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  payloads/v9/index.ts
  rest/v10/autoModeration.ts
  rest/v10/index.ts
  rest/v9/autoModeration.ts
  rest/v9/index.ts
Labels: semver:minor, topic:gateway, topic:payloads, topic:rest

#605 refactor(APIAuditLogOptions): Use `AuditLogRuleTriggerType` for `auto_moderation_rule_trigger_type`
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: semver:patch, topic:payloads

#594 feat(RESTJSONErrorCodes): add error `50073`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#608 fix: export v10 json payloads and correct automod route types
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: semver:patch, topic:rest

#601 chore(GitHub): flashy new issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: ci

#610 fix(ChannelType): publicthreads can be in forum channels
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#602 feat(Components): new select menus
  deno/payloads/v10/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v10/_interactions/_applicationCommands/contextMenu.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/_interactions/messageComponents.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/contextMenu.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/messageComponents.ts
  deno/payloads/v9/channel.ts
  deno/utils/v10.ts
  deno/utils/v9.ts
  payloads/v10/_interactions/_applicationCommands/chatInput.ts
  payloads/v10/_interactions/_applicationCommands/contextMenu.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/_interactions/messageComponents.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/contextMenu.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/messageComponents.ts
  payloads/v9/channel.ts
  tests/v10/interactions.test-d.ts
  utils/v10.ts
  utils/v9.ts
Labels: semver:minor, topic:payloads, topic:tests, topic:utils

#612 feat: add some missing REST types
  deno/rest/v10/guild.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/interactions.ts
  rest/v10/guild.ts
  rest/v10/interactions.ts
  rest/v9/guild.ts
  rest/v9/interactions.ts
Labels: semver:minor, topic:rest

#618 feat(GuildFeature): add `DeveloperSupportServer`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor, topic:payloads

#596 fix: `default_thread_rate_limit_per_user` is only for forum channels
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:payloads, topic:rest

#590 fix(APIGuild): change type of `afk_timeout` to allowed values
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:patch, topic:payloads, topic:rest

#619 fix: add missing gateway dispatch payloads to gateway event union
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: semver:patch, topic:gateway

#616 feat(UserPremiumType): add `NitroBasic`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#626 refactor(RESTGetAPICurrentUserGuildsQuery): Update guild limit
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Labels: topic:rest

#627 fix: export `RESTGetAPIVoiceRegionsResult` with the correct name
  deno/rest/v10/voice.ts
  deno/rest/v9/voice.ts
  rest/v10/voice.ts
  rest/v9/voice.ts
Labels: semver:patch, topic:rest

#624 fix(UserFlags): hardcode the value of `Quarantined`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#628 fix(docs): update gateway documentation links
  deno/gateway/common.ts
  deno/gateway/v10.ts
  deno/gateway/v8.ts
  deno/gateway/v9.ts
  deno/payloads/v10/gateway.ts
  deno/payloads/v9/gateway.ts
  gateway/common.ts
  gateway/v10.ts
  gateway/v8.ts
  gateway/v9.ts
  payloads/v10/gateway.ts
  payloads/v9/gateway.ts
Labels: semver:patch, topic:gateway, topic:payloads
