Repository discordjs/discord-api-types, pull requests merged in 2022-11, with the labels that each got.

#633 docs: remove ~
  deno/payloads/v9/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#603 feat(APIAutoMod): add support for regex matching
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v9/autoModeration.ts
  payloads/v10/autoModeration.ts
  payloads/v9/autoModeration.ts
Labels: semver:minor, topic:payloads

#614 docs: add limits for tags in forums
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#638 feat(UserFlags): add `ActiveDeveloper`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: semver:minor, topic:payloads

#646 feat(GuildFeatures): Add `APPLICATION_COMMAND_PERMISSIONS_V2`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor, topic:payloads

#647 fix(APIGuildChannel): make position of guild channel non optional
  deno/payloads/v10/channel.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#648 fix(channel): Add missing thread-related results
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#649 docs(RESTGetAPIChannelThreadsResult): Update deprecation URL
  deno/rest/v9/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:rest

#654 docs: Remove locales and titles in help center article links
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
Labels: topic:payloads
