Repository discordjs/discord-api-types, pull requests merged in 2022-08, with the labels that each got.

#545 docs: fix wrong reference links
  deno/payloads/v10/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v10/_interactions/_applicationCommands/contextMenu.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/application.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/invite.ts
  deno/payloads/v10/teams.ts
  deno/payloads/v10/template.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/contextMenu.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/invite.ts
  deno/payloads/v9/teams.ts
  deno/payloads/v9/template.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/_interactions/_applicationCommands/chatInput.ts
  payloads/v10/_interactions/_applicationCommands/contextMenu.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/application.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v10/invite.ts
  payloads/v10/teams.ts
  payloads/v10/template.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/contextMenu.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/application.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  payloads/v9/invite.ts
  payloads/v9/teams.ts
  payloads/v9/template.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:patch, topic:payloads, topic:rest

#558 fix(GatewayGuildMembersChunkDispatchData): make chunk pagination properties mandatory
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: semver:patch, topic:gateway

#559 fix(GatewayRequestGuildMembersData): limit being required with user_ids
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#552 feat(GatewayReadyDispatchData): add `resume_gateway_url`
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#544 feat(APIVoiceChannel): support text in voice, properties `last_message_id` and `rate_limit_per_user`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#543 fix(RESTGetAPIChannelUsersThreadsArchivedResult): add `has_more` missing field
  deno/rest/v10/channel.ts
  rest/v10/channel.ts
Labels: topic:rest

#556 docs: add notes about `MESSAGE_CONTENT` intent in affected data fields
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#565 feat(RESTJSONErrorCodes): add 240000
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#569 feat(ApplicationCommand): export base chat input types
  deno/payloads/v10/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v10/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
Labels: semver:minor, topic:payloads

#568 feat: add common JSON error types
  deno/payloads/common.ts
  payloads/common.ts
Labels: semver:minor, topic:payloads

#525 feat(FormattingPatterns): add `ApplicationCommand`
  deno/globals.ts
  globals.ts
Labels: semver:minor, topic:globals

#574 fix(APIModalSubmission): `components` is not optional
  deno/payloads/v10/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  payloads/v10/_interactions/modalSubmit.ts
  payloads/v9/_interactions/modalSubmit.ts
Labels: semver:patch, topic:payloads

#564 refactor(ChannelType): rename news & thread types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:payloads, topic:rest

#537 feat(ApplicationFlags): add `ApplicationCommandBadge`
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: semver:minor, topic:payloads

#534 feat(RESTPutAPIGuildBanJSONBody): add `delete_message_seconds`
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:rest

#547 fix(RESTPatchAPIGuildVoiceStateCurrentMemberJSONBody): `channel_id` is optional
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:patch, topic:rest
