Repository discordjs/discord-api-types, pull requests merged in 2022-05, with the labels that each got.

#435 feat(OAuth2Scopes): add new OAuth2 scopes
  deno/payloads/v10/oauth2.ts
  deno/payloads/v9/oauth2.ts
  payloads/v10/oauth2.ts
  payloads/v9/oauth2.ts
Labels: semver:minor, topic:payloads

#412 refactor(GuildFeature): thread archive durations are no longer boost locked
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:payloads

#415 feat: add support for application command permissions v2
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/_interactions/_applicationCommands/permissions.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/auditLog.ts
  deno/payloads/v10/oauth2.ts
  deno/payloads/v9/_interactions/_applicationCommands/permissions.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/oauth2.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/interactions.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/_interactions/_applicationCommands/permissions.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/auditLog.ts
  payloads/v10/oauth2.ts
  payloads/v9/_interactions/_applicationCommands/permissions.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/auditLog.ts
  payloads/v9/oauth2.ts
  rest/v10/guild.ts
  rest/v10/interactions.ts
  rest/v9/guild.ts
  rest/v9/interactions.ts
Labels: semver:minor, topic:gateway, topic:payloads, topic:rest

#423 refactor: separate `GUILD_CREATE` fields from `APIGuild` object
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:gateway, topic:payloads

#438 feat(rest): add missing guild routes results
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:rest

#445 chore: fix docs typo
  README.md
  deno/README.md
  website/docs/Introduction.mdx
  website/versioned_docs/version-0.33.0/Introduction.mdx
Labels: topic:website

#419 chore(guildChannel): update post body fields
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:rest

#446 chore: website fixes
  .github/workflows/check-website.yml
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/patches/@sapphire+docusaurus-plugin-ts2esm2cjs+1.1.0.patch
  website/patches/docusaurus-plugin-typedoc-api+1.11.0.patch
  website/src/css/custom.scss
  website/src/css/discordjs.scss
Labels: dependencies, ci, topic:website

#447 fix(RESTPostAPIApplicationGuildCommands): correct types due to unions
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Labels: semver:patch, topic:rest

#444 feat(RESTJSONErrorCodes): add error `50600`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#448 docs: clarify that permissions can apply on application-level
  deno/payloads/v10/_interactions/_applicationCommands/permissions.ts
  deno/payloads/v9/_interactions/_applicationCommands/permissions.ts
  payloads/v10/_interactions/_applicationCommands/permissions.ts
  payloads/v9/_interactions/_applicationCommands/permissions.ts
Labels: topic:payloads

#450 chore: some requested/suggested changes
  website/docusaurus.config.js
  website/src/css/custom.scss
  website/static/svgs/logo_dark.svg
  website/static/svgs/logo_light.svg
Labels: topic:website

#454 fix(APIApplicationCommand): `dm_permission` is not nullable and `default_member_permissions` is required
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: semver:patch, topic:payloads

#452 chore: make navbar consistent with djs site
  .prettierignore
  website/.prettierignore
  website/docs/Introduction.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/patches/@sapphire+docusaurus-plugin-ts2esm2cjs+1.1.0.patch
  website/src/css/custom.scss
  website/src/css/discordjs.scss
  website/versioned_docs/version-0.33.0/Introduction.mdx
  website/versioned_docs/version-0.33.1/Introduction.mdx
Labels: semver:patch, dependencies, topic:website

#457 fix: website link colors
  website/src/css/custom.scss
Labels: topic:website

#458 fix(GatewayGuildCreateDispatch): add extra fields that were missing
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: semver:patch, topic:gateway

#460 fix(RestPostAPIBaseApplicationJSONBody): make `default_member_permissions` optional
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Labels: semver:patch, topic:rest
