Repository discordjs/discord-api-types, pull requests merged in 2022-01, with the labels that each got.

#284 fix(APIApplicationCommandOption): correct type for integer and number
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v8/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v8/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
Labels: types, semver:patch, regression

#289 feat(RESTPatchAPIGuildMember): add `communication_disabled_until` field
  deno/rest/v8/guild.ts
  deno/rest/v9/guild.ts
  rest/v8/guild.ts
  rest/v9/guild.ts
Labels: semver:minor

#262 feat(RESTPatchAPIGuildMember): add modify current member and deprecate nick route
  deno/rest/v8/guild.ts
  deno/rest/v8/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  rest/v8/guild.ts
  rest/v8/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Labels: semver:minor

#293 feat(RouteBases): add base for guild scheduled events
  deno/rest/v8/mod.ts
  deno/rest/v9/mod.ts
  rest/v8/index.ts
  rest/v9/index.ts
Labels: semver:minor

#294 feat(UserFlags): add `Spammer` flag
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: semver:minor

#273 feat(APIInteraction): add locale props to interactions
  deno/payloads/v8/_interactions/base.ts
  deno/payloads/v8/_interactions/ping.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/ping.ts
  payloads/v8/_interactions/base.ts
  payloads/v8/_interactions/ping.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/ping.ts
Labels: semver:minor

#297 feat(Locales): add locale string enum
  deno/payloads/v8/_interactions/base.ts
  deno/payloads/v9/_interactions/base.ts
  deno/rest/common.ts
  payloads/v8/_interactions/base.ts
  payloads/v9/_interactions/base.ts
  rest/common.ts
Labels: semver:minor

#298 refactor(ActivityType): change `Game` to `Playing`
  deno/payloads/v8/gateway.ts
  deno/payloads/v9/gateway.ts
  payloads/v8/gateway.ts
  payloads/v9/gateway.ts
Labels: semver:major

#200 types: Add tagged `type` unions for channel types
  .gitignore
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v8/guild.ts
  deno/rest/v9/guild.ts
  deno/utils/internals.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
  rest/v8/guild.ts
  rest/v9/guild.ts
  utils/internals.ts
Labels: semver:major

#279 feat(APIGuildPreview): add `stickers`
  deno/payloads/v8/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v8/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor

#286 feat(RESTJSONErrorCodes): add error code 50086
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor

#300 feat(RESTAPIPostChannelMessage, RESTAPIPostWebhookMessage): add flags for creation
  deno/rest/v8/channel.ts
  deno/rest/v8/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  rest/v8/channel.ts
  rest/v8/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: semver:minor

#301 feat(APIThreadMetadata): add `create_timestamp` field
  deno/payloads/v9/channel.ts
  payloads/v9/channel.ts
Labels: semver:minor

#280 feat(MessageFlags): add `FailedToMentionSomeRolesInThread`
  deno/payloads/v9/channel.ts
  payloads/v9/channel.ts
Labels: semver:minor

#306 refactor: change const enums to regular enums
  gateway/v8.ts
  gateway/v9.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v8/_interactions/_applicationCommands/permissions.ts
  payloads/v8/_interactions/applicationCommands.ts
  payloads/v8/_interactions/responses.ts
  payloads/v8/application.ts
  payloads/v8/auditLog.ts
  payloads/v8/channel.ts
  payloads/v8/gateway.ts
  payloads/v8/guild.ts
  payloads/v8/guildScheduledEvent.ts
  payloads/v8/invite.ts
  payloads/v8/oauth2.ts
  payloads/v8/stageInstance.ts
  payloads/v8/sticker.ts
  payloads/v8/teams.ts
  payloads/v8/user.ts
  payloads/v8/webhook.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v9/_interactions/_applicationCommands/permissions.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/application.ts
  payloads/v9/auditLog.ts
  payloads/v9/channel.ts
  payloads/v9/gateway.ts
  payloads/v9/guild.ts
  payloads/v9/guildScheduledEvent.ts
  payloads/v9/invite.ts
  payloads/v9/oauth2.ts
  payloads/v9/stageInstance.ts
  payloads/v9/sticker.ts
  payloads/v9/teams.ts
  payloads/v9/user.ts
  payloads/v9/webhook.ts
  rest/common.ts
  rpc/v8.ts
  rpc/v9.ts
  scripts/deno.mjs
  voice/v4.ts
Labels: semver:patch

#308 refactor(userflags): remove `None`
  deno/payloads/v8/user.ts
  deno/payloads/v9/user.ts
  payloads/v8/user.ts
  payloads/v9/user.ts
Labels: semver:major
