Repository discordjs/discord-api-types, pull requests merged in 2022-07, with the labels that each got.

#511 docs(APIMessageInteraction): `name` now includes more info
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v9/_interactions/base.ts
  payloads/v10/_interactions/base.ts
  payloads/v9/_interactions/base.ts
Labels: semver:patch, topic:payloads

#513 feat(APIApplicationCommandStringOption): add `min_length` and `max_length`
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/string.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/string.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/string.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/string.ts
Labels: semver:minor, topic:payloads

#515 docs(APIApplicationCommandOption): number and integer typos in `max_value` field description
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v8/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
Labels: semver:patch, topic:payloads

#517 docs: update discord channel name
  website/docs/Contributing.mdx
Labels: topic:website

#518 chore: resolve ci error
  website/docs/Contributing.mdx
Labels: topic:website

#521 feat(RESTJSONErrorCodes): add error `30032`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#522 feat(RESTPutAPIApplicationGuildCommandsJSONBody): add missing `id`
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Labels: semver:patch, topic:rest

#527 feat(RESTJSONErrorCodes): add error `50146`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#504 feat(GatewayGuildCreateDispatchData): add missing `unavailable`
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:patch, topic:gateway, topic:payloads

#491 feat: add `ConnectionService` to `APIConnection#type`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: semver:minor, topic:payloads

#523 refactor(GuildFeature): remove `Commerce`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:payloads

#505 feat(RESTJSONErrorCodes): add error `50132`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#506 feat(RESTJSONErrorCodes): add new errors
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#530 feat(RESTJSONErrorCodes): add error `30034`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#540 refactor(RESTJSONErrorCodes): use `MaximumThreadParticipantsReached` instead in error code 30033
  deno/rest/common.ts
  rest/common.ts
Labels: semver:major, topic:rest

#541 docs: update discord channel name again
  website/docs/Contributing.mdx
Labels: topic:website
