Repository discordjs/discord-api-types, pull requests merged in 2022-03, with the labels that each got.

#353 feat(MessageComponentInteraction): export specific interaction aliases
  deno/payloads/v10/_interactions/messageComponents.ts
  deno/payloads/v9/_interactions/messageComponents.ts
  payloads/v10/_interactions/messageComponents.ts
  payloads/v9/_interactions/messageComponents.ts
Labels: semver:minor, topic:payloads

#356 feat: add support for TS module: NodeNext
  package.json
Labels: chore

#346 docs(APISelectMenuComponent): update `placeholder` max to 150
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:patch, chore, topic:payloads

#336 feat(RESTJSONErrorCodes): add error `10065`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#345 fix(GatewayVoiceState): some fields are optional instead of nullable
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Labels: semver:major

#361 refactor: make things optional and nullable where applicable
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v10/sticker.ts
  deno/payloads/v9/guildScheduledEvent.ts
  deno/payloads/v9/sticker.ts
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v10/sticker.ts
  payloads/v9/guildScheduledEvent.ts
  payloads/v9/sticker.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Labels: semver:major, topic:payloads, topic:rest

#338 refactor(RESTJSONErrorCodes): update error `50008` key
  deno/rest/common.ts
  rest/common.ts
Labels: semver:major, topic:rest

#359 refactor(APIGuildScheduledEventBase): make `description` nullable
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Labels: semver:major

#362 fix(RESTJSONErrorCodes): typo in error `30046`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:major

#350 feat(APIStageInstance): add `guild_scheduled_event_id`
  deno/payloads/v10/stageInstance.ts
  deno/payloads/v9/stageInstance.ts
  payloads/v10/stageInstance.ts
  payloads/v9/stageInstance.ts
Labels: semver:minor

#323 feat(APIInviteGuild): add boost count
  deno/payloads/v10/invite.ts
  deno/payloads/v8/invite.ts
  deno/payloads/v9/invite.ts
  payloads/v10/invite.ts
  payloads/v8/invite.ts
  payloads/v9/invite.ts
Labels: semver:minor, topic:payloads

#366 fix(APIGuildIntegrationType): correct name of type
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:payloads

#370 feat(APIApplicationCommand): add command localization
  deno/payloads/common.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/common.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: semver:minor

#379 feat(APIAuditLogChange): add `APIAuditLogChangeKeyImageHash`
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: semver:minor, topic:payloads

#381 ci: automatic PR triage
  .github/auto_assign.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/pr-automation.yml
Labels: ci

#380 chore(deno): give deno the v10 exports they desire
  deno/v10.ts
  scripts/deno.mjs
Labels: topic:deno

#384 docs(APIGuild): any guild can have `description`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: semver:patch, topic:payloads, topic:rest

#347 refactor(APIGroupDMChannel): make `name` nullable
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:major

#374 docs(UserFlags): update misleading `Hypesquad` description
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: semver:patch

#219 feat(GuildFeatures): add animated banners
  deno/payloads/v10/guild.ts
  deno/payloads/v8/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/guild.ts
  deno/rest/v8/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v8/guild.ts
  payloads/v9/guild.ts
  rest/v10/guild.ts
  rest/v8/guild.ts
  rest/v9/guild.ts
Labels: semver:minor, topic:payloads

#239 feat(APIApplication): app authorization links and tags
  deno/payloads/v10/application.ts
  deno/payloads/v8/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v8/application.ts
  payloads/v9/application.ts
Labels: semver:minor, topic:payloads

#382 refactor(APIApplicationCommand): nullable localization fields
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/base.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/shared.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: semver:patch, topic:payloads

#364 refactor: remove store channels
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:major

#386 refactor: remove `summary` from applications
  deno/payloads/v10/application.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/guild.ts
  payloads/v10/application.ts
  payloads/v10/guild.ts
  payloads/v9/application.ts
  payloads/v9/guild.ts
Labels: semver:major, topic:payloads

#390 docs(APIApplicationCommand): use the new regex
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v9/_interactions/applicationCommands.ts
Labels: semver:patch, topic:payloads
