Repository discordjs/discord-api-types, pull requests merged in 2023-07, with the labels that each got.

#784 docs(APITextInputComponent): correct label max characters
  deno/payloads/v10/channel.ts
  deno/payloads/v8/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v8/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#754 feat(GatewayMessageReactionAddDispatch): add `message_author_id`
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#782 feat(APIRole): role flags
  deno/payloads/v10/permissions.ts
  deno/payloads/v9/permissions.ts
  payloads/v10/permissions.ts
  payloads/v9/permissions.ts
Labels: topic:payloads

#787 feat(AuditLogEvent): Add creator monetisation events
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#783 feat(APIAttachment): add `flags`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#664 feat(APIUser): add avatar decorations
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#728 feat(APIApplication): approx guild count and get self application endpoint
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  deno/rest/v10/application.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/application.ts
  deno/rest/v9/mod.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
  rest/v10/application.ts
  rest/v10/index.ts
  rest/v9/application.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#773 feat: onboarding updates, mode field, and error codes
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/common.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/common.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#799 fix(Presence): cannot receive invisible status
  deno/payloads/v10/gateway.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/gateway.ts
  deno/payloads/v9/guild.ts
  payloads/v10/gateway.ts
  payloads/v10/guild.ts
  payloads/v9/gateway.ts
  payloads/v9/guild.ts
Labels: topic:payloads
