Repository discordjs/discord-api-types, pull requests merged in 2023-11, with the labels that each got.

#839 fix(RESTPutAPIGuildOnboardingJSONBody): optional keys and flattened emoji
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
  tests/v10/onboarding.test-d.ts
Labels: topic:rest, topic:tests

#790 feat(PermissionFlagsBits): split up expressions and events perms
  deno/payloads/common.ts
  payloads/common.ts
Labels: topic:payloads

#849 fix(TextChannelType): Remove forum and media channels
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:patch, topic:payloads
