Repository discordjs/discord-api-types, pull requests merged in 2023-04, with the labels that each got.

#742 chore(docsearch): increase contrast for hits in dark mode
  website/src/css/discordjs.scss
Labels: topic:website

#741 feat(APIBaseInteraction): add `channel`
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/_interactions/messageComponents.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/messageComponents.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/_interactions/messageComponents.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/messageComponents.ts
Labels: semver:minor, topic:payloads

#738 docs(ApplicationFlags): `ApplicationAutoModerationRuleCreateBadge` is no longer unstable
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: semver:patch, topic:payloads

#725 feat(RESTJSONErrorCodes): add error `50163`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#750 fix(RESTPostAPIChannelMessagesThreadsJSONBody): mark `auto_archive_duration` as optional
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#749 feat: add support for voice messages
  deno/payloads/common.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/common.ts
  payloads/common.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/common.ts
Labels: topic:payloads, topic:rest

#757 docs(PermissionFlagsBits): add descriptions
  deno/payloads/common.ts
  payloads/common.ts
Labels: topic:payloads

#761 fix(GatewayGuildMembersChunkDispatchData): Omit `guild_id` for presences
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#763 Fix: move `types` condition to the front
  package.json
Labels: dependencies, chore
