Repository discordjs/discord-api-types, pull requests merged in 2023-03, with the labels that each got.

#733 feat: add various new flags
  deno/payloads/v10/application.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/user.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/user.ts
  payloads/v10/application.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v10/user.ts
  payloads/v9/application.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  payloads/v9/user.ts
Labels: topic:payloads

#641 feat(RESTGetAPICurrentUserGuildsQuery): add `with_counts`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/v10/user.ts
  rest/v9/user.ts
Labels: topic:payloads, topic:rest, blocked

#730 feat(RESTPostAPIGuildChannelJSONBody): add `default_thread_rate_limit_per_user`
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: topic:rest
