Repository discordjs/discord-api-types, pull requests merged in 2023-01, with the labels that each got.

#682 feat(RESTGetAPIAuditLogQuery): Support `after`
  deno/rest/v10/auditLog.ts
  deno/rest/v9/auditLog.ts
  rest/v10/auditLog.ts
  rest/v9/auditLog.ts
Labels: semver:minor, topic:rest

#676 feat(RESTJSONErrorCodes): add error `30058`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#640 feat(RESTJSONErrorCodes): add error `50067`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#620 feat: add RESTJSONErrorCode `40062` and RESTRateLimit.code
  deno/payloads/common.ts
  deno/rest/common.ts
  payloads/common.ts
  rest/common.ts
Labels: topic:payloads, topic:rest

#681 feat(MessageType): add missing types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: semver:minor, topic:payloads

#665 feat: role subscriptions
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/permissions.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/permissions.ts
  deno/rest/common.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v10/permissions.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  payloads/v9/permissions.ts
  rest/common.ts
Labels: semver:minor, topic:payloads, topic:rest

#689 feat(APIThreadMember): add support for thread member pagination
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:minor, topic:payloads, topic:rest

#688 feat(StickerFormatType): add `GIF`
  deno/payloads/v10/sticker.ts
  deno/payloads/v9/sticker.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/sticker.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/sticker.ts
  payloads/v10/sticker.ts
  payloads/v9/sticker.ts
  rest/v10/index.ts
  rest/v10/sticker.ts
  rest/v9/index.ts
  rest/v9/sticker.ts
Labels: topic:payloads, topic:rest

#660 fix(GuildIntegration): `enabled` and `user` are present on bots
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: topic:payloads

#671 feat(RESTJSONErrorCodes): add error `50091`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#632 feat(ConnectionService): add TikTok
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#675 feat(APIRoleTags): add `guild_connections`
  deno/payloads/v10/permissions.ts
  deno/payloads/v9/permissions.ts
  payloads/v10/permissions.ts
  payloads/v9/permissions.ts
Labels: topic:payloads

#686 feat: Add role subscription data and system channel flags
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
Labels: semver:minor, topic:payloads

#690 chore: Add blocked label
  .github/labels.yml
Labels: ci

#694 docs(APIApplicationRoleConnectionMetadata): specify lower bound of fields
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: semver:patch, topic:payloads

#700 feat(APIGuildMember): add support for guild member flags
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: semver:minor, topic:payloads

#692 feat(GatewayDispatchEvents): add `GuildAuditLogEntryCreate`
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: semver:minor, topic:gateway
