Repository discordjs/discord-api-types, pull requests merged in 2023-08, with the labels that each got.

#802 fix(RESTPatchAPIChannelJSONBody): `available_tags` requires `name` only
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:rest

#804 chore(RoleFlags): add link to api docs
  deno/payloads/v10/permissions.ts
  deno/payloads/v9/permissions.ts
  payloads/v10/permissions.ts
  payloads/v9/permissions.ts
Labels: topic:payloads

#801 feat(GatewayActivityUpdateData): allow sending state
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/gateway.ts
  deno/payloads/v9/gateway.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/gateway.ts
  payloads/v9/gateway.ts
Labels: topic:gateway, topic:payloads

#777 feat: Add Media channels
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:minor, topic:payloads, topic:rest

#797 fix(Guild): union with never type
  deno/rest/v10/guild.ts
  deno/rest/v8/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v8/guild.ts
  rest/v9/guild.ts
Labels: topic:rest

#808 chore: use code owners
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/workflows/pr-automation.yml
  .prettierignore
Labels: ci

#809 feat(APIAuditLogOptions): add `integration_type`
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#811 fix(RESTPostAPIChannelMessageJSONBody): `number` for attachment ids
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: topic:rest

#789 fix: standard stickers are now free
  deno/payloads/v10/sticker.ts
  deno/payloads/v9/sticker.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/sticker.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/sticker.ts
  payloads/v10/sticker.ts
  payloads/v9/sticker.ts
  rest/v10/index.ts
  rest/v10/sticker.ts
  rest/v9/index.ts
  rest/v9/sticker.ts
Labels: topic:payloads, topic:rest

#813 feat: add support for teams update
  deno/payloads/v10/teams.ts
  deno/payloads/v9/teams.ts
  payloads/v10/teams.ts
  payloads/v9/teams.ts
Labels: topic:payloads

#814 refactor(TeamMemberRole): remove owner role
  deno/payloads/v10/teams.ts
  deno/payloads/v9/teams.ts
  payloads/v10/teams.ts
  payloads/v9/teams.ts
Labels: topic:payloads

#816 docs(APITeamMember): update deprecation message
  deno/payloads/v10/teams.ts
  deno/payloads/v9/teams.ts
  payloads/v10/teams.ts
  payloads/v9/teams.ts
Labels: topic:payloads
