Repository discordjs/discord-api-types, pull requests merged in 2023-02, with the labels that each got.

#710 feat(MessageType): add `SuppressNotifications`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#715 fix(GatewayDispatchPayload): add missing GuildAuditLogEntry
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#719 fix(GuildSystemChannelFlags): "suppress" typo
  deno/payloads/v10/guild.ts
  payloads/v10/guild.ts
Labels: semver:patch, topic:payloads

#717 feat(RESTJSONErrorCodes): add error `30061`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest, blocked

#697 feat(RESTJSONErrorCodes): add error `30011`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#698 feat: add `managed` field to `ChannelType.GroupDM`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#701 feat(ConnectionService): add `instagram`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#695 feat(CDNRoutes): add `storePageAsset()`
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: semver:minor, topic:rest, blocked

#696 docs(RESTPostAPIGuildStickerFormDataBody): clarify constraints
  deno/rest/v10/sticker.ts
  deno/rest/v9/sticker.ts
  rest/v10/sticker.ts
  rest/v9/sticker.ts
Labels: semver:patch, topic:rest, blocked

#720 feat(RESTJSONErrorCodes): add error `30060`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest, blocked

#718 refactor(MessageType): remove `@unstable` stage message types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads, blocked

#721 refactor(APIVoiceChannelBase): support text and video in stages
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#722 fix: `StageRaiseHand` should be unstable
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#709 docs(AutoModerationRuleTriggerType): increase keyword limits
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v9/autoModeration.ts
  payloads/v10/autoModeration.ts
  payloads/v9/autoModeration.ts
Labels: topic:payloads

#727 feat(AutoModeration): add `custom_message` field support
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v9/autoModeration.ts
  payloads/v10/autoModeration.ts
  payloads/v9/autoModeration.ts
Labels: semver:minor, topic:payloads
