Repository discordjs/discord-api-types, pull requests merged in 2023-09, with the labels that each got.

#819 feat(ConnectionService): support twitter rebrand update
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#821 docs: fix TypeDoc typos
  deno/payloads/v10/auditLog.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/auditLog.ts
  payloads/v10/guild.ts
  payloads/v9/auditLog.ts
  payloads/v9/guild.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:payloads, topic:rest

#824 feat: default select menu values
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#825 refactor(APIInteractionDataResolvedChannel): thread channels
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:payloads, topic:rest

#827 docs(RESTPostAPIGuildForumThreadsJSONBody): Fix reference link
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#830 chore: change docusaurus branch name
  website/docusaurus.config.js
Labels: topic:website

#828 fix(RESTPatchAPIChannelJSONBody): add missing `applied_tags` field
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#656 feat(RESTPostAPIStageInstanceJSONBody): add `guild_scheduled_event_id`
  deno/rest/v10/stageInstance.ts
  deno/rest/v9/stageInstance.ts
  rest/v10/stageInstance.ts
  rest/v9/stageInstance.ts
Labels: topic:rest
