Repository discordjs/discord-api-types, pull requests merged in 2023-10, with the labels that each got.

#810 feat: Application patch and new properties
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  deno/rest/v10/application.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/application.ts
  deno/rest/v9/mod.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
  rest/v10/application.ts
  rest/v10/index.ts
  rest/v9/application.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#833 feat: premium app subscriptions
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/mod.ts
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/mod.ts
  deno/payloads/v9/monetization.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/monetization.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/monetization.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/index.ts
  payloads/v10/monetization.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/index.ts
  payloads/v9/monetization.ts
  rest/v10/index.ts
  rest/v10/monetization.ts
  rest/v9/index.ts
  rest/v9/monetization.ts
Labels: topic:gateway, topic:payloads, topic:rest

#844 feat(RESTJSONErrorCodes): add `40074` and `50057`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest
