Repository discordjs/discord-api-types, pull requests merged in 2023-06, with the labels that each got.

#765 feat: support new username system
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#753 feat(RESTJSONErrorCodes): add error `50131`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#778 docs(RESTPostAPIChannelMessagesThreadsJSONBody): Remove 3/7-day requirement text
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: semver:patch, topic:rest

#677 feat(Guild): add join raid and mention raid protection
  deno/payloads/v10/auditLog.ts
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/autoModeration.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/auditLog.ts
  payloads/v10/autoModeration.ts
  payloads/v10/guild.ts
  payloads/v9/auditLog.ts
  payloads/v9/autoModeration.ts
  payloads/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: topic:payloads, topic:rest
