Repository discordjs/discord-api-types, pull requests merged in 2024-08, with the labels that each got.

#1051 feat(Routes): get method on role endpoint
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v9/guild.ts
  rest/v9/index.ts
Labels: topic:rest

#1050 feat(RESTOAuth2): add RESTPostOAuth2TokenRevocationQuery
  deno/rest/v10/oauth2.ts
  deno/rest/v9/oauth2.ts
  rest/v10/oauth2.ts
  rest/v9/oauth2.ts
Labels: topic:rest

#1052 feat(APIApplication): `approximate_user_install_count`
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: topic:payloads

#1055 feat(RESTJSONErrorCodes): `UnknownStickerPack`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#1058 feat: recurring scheduled events
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Labels: topic:payloads, topic:rest

#1059 fix: interface name
  deno/payloads/v10/guildScheduledEvent.ts
  deno/payloads/v9/guildScheduledEvent.ts
  payloads/v10/guildScheduledEvent.ts
  payloads/v9/guildScheduledEvent.ts
Labels: topic:payloads

#1046 feat(Routes): voice state endpoint
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/voice.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/voice.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
  rest/v10/guild.ts
  rest/v10/index.ts
  rest/v10/voice.ts
  rest/v9/guild.ts
  rest/v9/index.ts
  rest/v9/voice.ts
Labels: topic:gateway, topic:payloads, topic:rest

#1063 fix: nullable `recurrence_rule` on patch
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Labels: topic:rest

#1064 fix: nullable fields for scheduled event editing
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v9/guildScheduledEvent.ts
  rest/v10/guildScheduledEvent.ts
  rest/v9/guildScheduledEvent.ts
Labels: topic:rest

#1065 refactor(rest): ensure types follow naming pattern
  .eslint-plugin-local/index.ts
  .eslintrc.json
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/monetization.ts
  deno/rest/v10/oauth2.ts
  deno/rest/v10/poll.ts
  deno/rest/v10/sticker.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/monetization.ts
  deno/rest/v9/oauth2.ts
  deno/rest/v9/poll.ts
  deno/rest/v9/sticker.ts
  deno/rest/v9/webhook.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v10/monetization.ts
  rest/v10/oauth2.ts
  rest/v10/poll.ts
  rest/v10/sticker.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
  rest/v9/monetization.ts
  rest/v9/oauth2.ts
  rest/v9/poll.ts
  rest/v9/sticker.ts
  rest/v9/webhook.ts
Labels: chore, topic:rest

#1073 feat(RESTAPIAttachment): add more properties
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: topic:payloads, topic:rest

#1079 feat(GuildMemberFlags): `IsGuest` and `DmSettingsUpsellAcknowledged`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: topic:payloads

#1086 feat: remove unstable from stable fields
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/application.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/channel.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/application.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/application.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1080 docs: mark `APIApplication#summary` and `APISticker#asset` as unstable
  deno/payloads/v10/application.ts
  deno/payloads/v10/sticker.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/sticker.ts
  payloads/v10/application.ts
  payloads/v10/sticker.ts
  payloads/v9/application.ts
  payloads/v9/sticker.ts
Labels: topic:payloads
