Repository discordjs/discord-api-types, pull requests merged in 2024-02, with the labels that each got.

#869 fix(CDNRoutes): make format optional and default to png
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:rest

#868 types(CDNRoutes): use generics for `format` options
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:rest

#859 feat(Locale): add `SpanishLATAM`
  deno/rest/common.ts
  rest/common.ts
Labels: semver:minor, topic:rest

#874 feat(RESTPostAPIChannelMessageJSONBody): add enforce_nonce
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#744 feat: add initial support for super reactions
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/common.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/common.ts
Labels: topic:payloads, topic:rest
