Repository discordjs/discord-api-types, pull requests merged in 2024-06, with the labels that each got.

#955 fix: Correct types for `APIAuditLogChangeKey$Add` and `APIAuditLogChangeKey$Remove`
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#740 feat(AutoModeration): add blocking words in member profile
  deno/payloads/v10/autoModeration.ts
  deno/payloads/v9/autoModeration.ts
  payloads/v10/autoModeration.ts
  payloads/v9/autoModeration.ts
Labels: topic:payloads

#998 fix(APIGuildMember): make user required and omit in messages
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  tests/v10/messageCreate.test-d.ts
Labels: topic:gateway, topic:payloads, topic:tests

#1000 feat(AuditLogEvent): home settings events
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#1001 feat(RouteBases): Add media URL
  deno/rest/v10/mod.ts
  rest/v10/index.ts
Labels: topic:rest

#1004 feat(MessageType): add incident related types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#999 feat: Add use external apps permission
  deno/payloads/common.ts
  payloads/common.ts
Labels: topic:payloads

#1010 feat: add premium buttons
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1015 feat(APIAttachment): add `title`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads
