Repository discordjs/discord-api-types, pull requests merged in 2024-05, with the labels that each got.

#854 feat(RESTJSONErrorCodes): add error code 40333
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#834 feat: support avatar decorations
  deno/payloads/v10/guild.ts
  deno/payloads/v10/user.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/user.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  payloads/v10/guild.ts
  payloads/v10/user.ts
  payloads/v9/guild.ts
  payloads/v9/user.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:payloads, topic:rest

#921 feat: user-installable apps
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/application.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/application.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/application.ts
  deno/rest/v9/interactions.ts
  deno/utils/internals.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/application.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/application.ts
  payloads/v9/channel.ts
  rest/v10/application.ts
  rest/v10/interactions.ts
  rest/v9/application.ts
  rest/v9/interactions.ts
  utils/internals.ts
Labels: topic:payloads, topic:rest, topic:utils

#879 feat: add type query param for get reactions endpoint
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#983 feat(APIMessage): add `call`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#878 feat: add gateway events payload for super reactions
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#989 docs: reeeee
  deno/gateway/v9.ts
  gateway/v9.ts
Labels: topic:gateway
