Repository discordjs/discord-api-types, pull requests merged in 2024-04, with the labels that each got.

#907 feat(ConnectionService): add bungie connection
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#946 chore(StageInstancePrivacyLevel): mark public PrivacyLevel as deprecated
  deno/payloads/v10/stageInstance.ts
  payloads/v10/stageInstance.ts
Labels: topic:payloads

#925 feat: add support for polls
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/common.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/mod.ts
  deno/payloads/v10/poll.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/mod.ts
  deno/payloads/v9/poll.ts
  deno/rest/common.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/poll.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/poll.ts
  deno/rest/v9/webhook.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/common.ts
  payloads/v10/channel.ts
  payloads/v10/index.ts
  payloads/v10/poll.ts
  payloads/v9/channel.ts
  payloads/v9/index.ts
  payloads/v9/poll.ts
  rest/common.ts
  rest/v10/channel.ts
  rest/v10/index.ts
  rest/v10/poll.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/index.ts
  rest/v9/poll.ts
  rest/v9/webhook.ts
Labels: topic:gateway, topic:payloads, topic:rest

#962 fix(Polls): correct APIPollAnswer properties
  deno/payloads/v10/poll.ts
  deno/payloads/v9/poll.ts
  payloads/v10/poll.ts
  payloads/v9/poll.ts
Labels: topic:payloads

#858 feat(APIInvite): add `type`
  deno/payloads/v10/invite.ts
  deno/payloads/v9/invite.ts
  payloads/v10/invite.ts
  payloads/v9/invite.ts
Labels: semver:minor, topic:payloads, blocked

#795 feat(AuditLogEvent): onboarding events
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#818 feat(ConnectionService): add `domain`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#966 feat: one time premium app purchases
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/monetization.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/monetization.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/monetization.ts
  payloads/v10/monetization.ts
  payloads/v9/monetization.ts
  rest/v10/index.ts
  rest/v10/monetization.ts
  rest/v9/index.ts
  rest/v9/monetization.ts
Labels: topic:payloads, topic:rest

#964 feat(APIAuditLogChange): add missing keys
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads
