Repository discordjs/discord-api-types, pull requests merged in 2024-12, with the labels that each got.

#1158 refactor(APIEntitlement): update `ends_at` and `starts_at` to be nullable
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/monetization.ts
  payloads/v10/monetization.ts
  payloads/v9/monetization.ts
Labels: topic:payloads

#1172 feat(APISubscription): add `renewal_sku_ids`
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/monetization.ts
  payloads/v10/monetization.ts
  payloads/v9/monetization.ts
Labels: topic:payloads

#1176 chore: Use feature request label for feature requests
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: chore

#1174 feat(ConnectionService): `Bluesky` and `Mastodon`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#1166 feat(payloads): add entrypoint command payloads
  deno/payloads/v10/_interactions/_applicationCommands/entryPoint.ts
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v9/_interactions/_applicationCommands/entryPoint.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  payloads/v10/_interactions/_applicationCommands/entryPoint.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/responses.ts
  payloads/v9/_interactions/_applicationCommands/entryPoint.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/responses.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Labels: topic:payloads, topic:rest

#1163 chore: docusaurus upgrade
  website/.eslintrc
  website/docs/Introduction.mdx
  website/docusaurus.config.js
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/patches/@apify+docusaurus-plugin-typedoc-api+4.3.1.patch
  website/sidebars.ts
  website/src/components/Home/InstallButton/InstallTabButton.tsx
  website/src/components/Home/InstallButton/InstallTabs.tsx
  website/src/pages/index.tsx
  website/tsconfig.eslint.json
  website/tsconfig.json
  website/versioned_docs/version-0.37.111/Contributing.mdx
  website/versioned_docs/version-0.37.111/Introduction.mdx
  website/versioned_docs/version-0.37.111/api-packages.json
  website/versioned_docs/version-0.37.111/api-typedoc.json
  website/versioned_docs/version-0.37.111/images/deno_types_out_of_sync.png
  website/versioned_docs/version-0.37.112/Introduction.mdx
  website/versioned_sidebars/version-0.37.111-sidebars.json
  website/versions.json
Labels: dependencies, topic:website
