Repository discordjs/discord-api-types, pull requests merged in 2024-09, with the labels that each got.

#1090 refactor(APIApplication): mark role_connections_verification_url and interactions_endpoint_url as nullable
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: topic:payloads

#1089 feat(FormattingPatterns): `GuildNavigation` and `LinkedRole`
  deno/globals.ts
  globals.ts
Labels: chore, topic:globals

#1074 feat(ConnectionService): add Amazon Music connection
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#1084 fix(APIMessageSnapshot): mark `guild_id` as deprecated
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1078 feat: add subscriptions
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/monetization.ts
  deno/payloads/v9/monetization.ts
  deno/rest/v10/mod.ts
  deno/rest/v10/monetization.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/monetization.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/monetization.ts
  payloads/v9/monetization.ts
  rest/v10/index.ts
  rest/v10/monetization.ts
  rest/v9/index.ts
  rest/v9/monetization.ts
Labels: topic:gateway, topic:payloads, topic:rest

#1085 feat(APIMessageSnapshotFields): add more fields
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1077 feat: entry point commands and interaction callback response
  .eslintrc.json
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/rest/v10/interactions.ts
  deno/rest/v9/interactions.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/_interactions/responses.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/_interactions/responses.ts
  rest/v10/interactions.ts
  rest/v9/interactions.ts
Labels: chore, topic:payloads, topic:rest

#1040 feat(MessageType): `PurchaseNotification` and `PollResult`
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1091 fix: replace deprecated `RESTAPIPollCreate` with `RESTAPIPoll`
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Labels: topic:rest

#1056 feat(RESTJSONErrorCodes): add `40018`, `40019`, and `40094`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#1092 fix(GatewayGuildDeleteDispatchData): make `unavailable` optional
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1105 feat: missing subscription dispatch types
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1106 docs: missing gateway documentation links
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#739 feat: add `VoiceChannelEffectSend` event
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway
