Repository discordjs/discord-api-types, pull requests merged in 2024-03, with the labels that each got.

#881 docs(APISelectMenuOption): correct character limit
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#882 ci: enable npm provenance
  .github/workflows/create-pr-for-release-and-publish.yml
  .github/workflows/publish-next.yml
  package.json
Labels: dependencies, ci, chore

#831 chore: remove deprecated importsNotUsedAsValues from tsconfig
  .eslintplugin/tsconfig.json
  tsconfig.json
Labels: chore

#916 ci: ignore new releases triggered only by renovate
  scripts/bump-version.mjs
Labels: topic:scripts

#929 ci: ignore commits by dependabot
  scripts/bump-version.mjs
Labels: topic:scripts

#933 feat(APIAuditLogChange): add `APIAuditLogChangeKeySystemChannelFlags`
  deno/payloads/v10/auditLog.ts
  deno/payloads/v9/auditLog.ts
  payloads/v10/auditLog.ts
  payloads/v9/auditLog.ts
Labels: topic:payloads

#908 feat(RESTJSONErrorCodes): Add `500_000`
  deno/rest/common.ts
  rest/common.ts
Labels: topic:rest

#909 feat(Routes): Add `guildBulkBan()` route
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:rest

#910 feat(Guild): add `RESTPostAPIGuildBulkBan` result and json body
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: topic:rest

#906 feat: bot banners
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Labels: topic:rest
