Repository discordjs/discord-api-types, pull requests merged in 2024-11, with the labels that each got.

#1135 fix(isInteractionButton): handle `ButtonStyle.Premium`
  deno/utils/v10.ts
  deno/utils/v9.ts
  utils/v10.ts
  utils/v9.ts
Labels: topic:utils

#1134 fix: add missing soundboard types
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  deno/rest/common.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
  rest/common.ts
Labels: topic:gateway, topic:payloads, topic:rest

#1140 feat(GatewayMessageUpdateDispatchData): Use full message object
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1138 refactor: Deprecate `LocaleString`
  deno/payloads/common.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/template.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/template.ts
  deno/rest/common.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/common.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/guild.ts
  payloads/v10/template.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/guild.ts
  payloads/v9/template.ts
  rest/common.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: topic:payloads, topic:rest

#1139 docs(RESTPostAPIChannelMessageJSONBody): Make message reference generic
  deno/rest/v10/channel.ts
  deno/rest/v9/channel.ts
  rest/v10/channel.ts
  rest/v9/channel.ts
Labels: topic:rest

#1057 feat: guild member banners
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: topic:gateway, topic:payloads

#1142 feat(_interactions): Support partial guild objects
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/guild.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/guild.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/guild.ts
Labels: topic:payloads

#1146 refactor(GatewayGuildCreateDispatchData): Narrow `channels` and `threads` types
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1129 refactor: split interaction metadata objects
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v9/_interactions/base.ts
  payloads/v10/_interactions/base.ts
  payloads/v9/_interactions/base.ts
Labels: topic:payloads

#1148 refactor: Narrow channel gateway events types
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1128 feat: webhook events
  deno/payloads/v10/application.ts
  deno/payloads/v10/webhook.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/webhook.ts
  payloads/v10/application.ts
  payloads/v10/webhook.ts
  payloads/v9/application.ts
  payloads/v9/webhook.ts
Labels: topic:payloads

#1154 refactor(APIThreadMetadata): `locked` is always present
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1155 refactor(GatewayThreadListSync): Narrow `threads`
  deno/payloads/v10/gateway.ts
  deno/payloads/v9/gateway.ts
  payloads/v10/gateway.ts
  payloads/v9/gateway.ts
Labels: topic:payloads

#1145 feat: New entitlement endpoint behaviour
  deno/rest/v10/mod.ts
  deno/rest/v10/monetization.ts
  deno/rest/v9/mod.ts
  deno/rest/v9/monetization.ts
  rest/v10/index.ts
  rest/v10/monetization.ts
  rest/v9/index.ts
  rest/v9/monetization.ts
Labels: topic:rest

#1159 feat: Add Crunchyroll
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads
