Repository discordjs/discord-api-types, pull requests merged in 2024-07, with the labels that each got.

#1022 fix(RESTAPIPollCreate): optional properties
  deno/payloads/v10/poll.ts
  deno/payloads/v9/poll.ts
  deno/rest/v10/poll.ts
  deno/rest/v9/poll.ts
  payloads/v10/poll.ts
  payloads/v9/poll.ts
  rest/v10/poll.ts
  rest/v9/poll.ts
Labels: topic:payloads, topic:rest

#1023 chore: ignore deprecated versions on linters
  .eslintignore
  .prettierignore
  scripts/deno.mjs
Labels: chore, topic:deno, topic:scripts

#1028 feat(RESTAPIPartialCurrentUserGuild): add `banner`
  deno/rest/v10/user.ts
  deno/rest/v9/user.ts
  rest/v10/user.ts
  rest/v9/user.ts
Labels: topic:rest

#1032 feat(ConnectionService): add `Roblox`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#1036 feat: application emojis
  deno/rest/v10/emoji.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/emoji.ts
  deno/rest/v9/mod.ts
  rest/v10/emoji.ts
  rest/v10/index.ts
  rest/v9/emoji.ts
  rest/v9/index.ts
Labels: topic:rest

#971 feat: add support for message forwarding
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1033 fix(CDNRoutes): inconsistency in route and wrong JSDoc
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: semver:patch, topic:rest
