Repository discordjs/discord-api-types, pull requests merged in 2025-04, with the labels that each got.

#1200 feat(RPC): types
  deno/payloads/v10/oauth2.ts
  deno/rpc/common.ts
  deno/rpc/v10.ts
  payloads/v10/oauth2.ts
  rpc/common.ts
  rpc/v10.ts
Labels: topic:payloads, topic:rpc

#1208 feat(webhook): add `with_components` query param
  deno/rest/v10/webhook.ts
  deno/rest/v9/webhook.ts
  rest/v10/webhook.ts
  rest/v9/webhook.ts
Labels: topic:rest

#1198 fix: Ensure autocomplete option values resolve to string for numerical types
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/subcommand.ts
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  deno/payloads/v10/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v10/_interactions/autocomplete.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/subcommand.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  deno/payloads/v9/_interactions/_applicationCommands/chatInput.ts
  deno/payloads/v9/_interactions/autocomplete.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/subcommand.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  payloads/v10/_interactions/_applicationCommands/chatInput.ts
  payloads/v10/_interactions/autocomplete.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/integer.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/number.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/subcommand.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/subcommandGroup.ts
  payloads/v9/_interactions/_applicationCommands/chatInput.ts
  payloads/v9/_interactions/autocomplete.ts
  tests/v10/interactions.ts
Labels: topic:payloads, topic:tests

#1214 feat(APIBaseInteraction): add `attachment_size_limit`
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v9/_interactions/base.ts
  payloads/v10/_interactions/base.ts
  payloads/v9/_interactions/base.ts
Labels: topic:payloads

#1190 feat!: components v2
  .gitattributes
  .vscode/settings.json
  deno/payloads/v10/_interactions/modalSubmit.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/_interactions/modalSubmit.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/modalSubmit.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: semver:major, chore, topic:payloads, topic:rest

#1098 feat(CDNQuery)!: add ImageSize type
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: semver:major, topic:rest

#1221 refactor(ImageSize): allow other sizes
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:rest

#1227 docs: Update privilege intents link
  deno/payloads/v10/application.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/application.ts
  deno/payloads/v9/channel.ts
  payloads/v10/application.ts
  payloads/v10/channel.ts
  payloads/v9/application.ts
  payloads/v9/channel.ts
Labels: topic:payloads
