Repository discordjs/discord-api-types, pull requests merged in 2025-06, with the labels that each got.

#1259 chore(docs): add voice v8 to docs
  api-extractor.json
  website/docusaurus.config.ts
Labels: chore, topic:website

#1260 fix(voice): add `max_dave_protocol_version` to identify
  deno/voice/v8.ts
  voice/v8.ts
Labels: topic:voice

#1264 refactor(webhook): Remove `@unstable` for application deauthorised
  deno/payloads/v10/webhook.ts
  deno/payloads/v9/webhook.ts
  payloads/v10/webhook.ts
  payloads/v9/webhook.ts
Labels: topic:payloads

#1249 refactor: omit most omits
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/_interactions/base.ts
  deno/payloads/v10/_interactions/modalSubmit.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/gateway.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v10/poll.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v9/_interactions/base.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/gateway.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/poll.ts
  deno/payloads/v9/voice.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/guildScheduledEvent.ts
  deno/rest/v10/interactions.ts
  deno/rest/v10/poll.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/guildScheduledEvent.ts
  deno/rest/v9/interactions.ts
  deno/rest/v9/poll.ts
  deno/rpc/common.ts
  deno/rpc/v10.ts
  deno/rpc/v9.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/_interactions/base.ts
  payloads/v10/_interactions/modalSubmit.ts
  payloads/v10/channel.ts
  payloads/v10/gateway.ts
  payloads/v10/guild.ts
  payloads/v10/poll.ts
  payloads/v10/voice.ts
  payloads/v9/_interactions/base.ts
  payloads/v9/_interactions/modalSubmit.ts
  payloads/v9/channel.ts
  payloads/v9/gateway.ts
  payloads/v9/guild.ts
  payloads/v9/poll.ts
  payloads/v9/voice.ts
  rest/v10/guild.ts
  rest/v10/guildScheduledEvent.ts
  rest/v10/interactions.ts
  rest/v10/poll.ts
  rest/v9/guild.ts
  rest/v9/guildScheduledEvent.ts
  rest/v9/interactions.ts
  rest/v9/poll.ts
  rpc/common.ts
  rpc/v10.ts
  rpc/v9.ts
Labels: topic:gateway, topic:payloads, topic:rest, topic:rpc

#1265 docs: resolved api-extractor warnings
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/voice/v4.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  voice/v4.ts
Labels: topic:payloads, topic:voice

#1272 feat(APIApplication): add `approximate_user_authorization_count`
  deno/payloads/v10/application.ts
  deno/payloads/v9/application.ts
  payloads/v10/application.ts
  payloads/v9/application.ts
Labels: topic:payloads

#1274 feat(APIUser): add `collectibles`
  deno/payloads/v10/user.ts
  deno/payloads/v9/user.ts
  payloads/v10/user.ts
  payloads/v9/user.ts
Labels: topic:payloads

#1283 feat(voice): add close codes 4021 and 4022
  deno/voice/v4.ts
  deno/voice/v8.ts
  voice/v4.ts
  voice/v8.ts
Labels: topic:voice

#1281 feat: role gradient colors
  deno/payloads/v10/guild.ts
  deno/payloads/v10/permissions.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/permissions.ts
  deno/rest/v10/guild.ts
  deno/rest/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v10/permissions.ts
  payloads/v9/guild.ts
  payloads/v9/permissions.ts
  rest/v10/guild.ts
  rest/v9/guild.ts
Labels: topic:payloads, topic:rest
