Repository discordjs/discord-api-types, pull requests merged in 2025-05, with the labels that each got.

#1210 docs(RESTGetAPIInviteQuery): Add deprecation for `with_expiration`
  deno/rest/v10/invite.ts
  deno/rest/v9/invite.ts
  rest/v10/invite.ts
  rest/v9/invite.ts
Labels: topic:rest

#1228 feat: Specific typings for application emojis
  deno/payloads/v10/emoji.ts
  deno/payloads/v9/emoji.ts
  deno/rest/v10/emoji.ts
  deno/rest/v9/emoji.ts
  payloads/v10/emoji.ts
  payloads/v9/emoji.ts
  rest/v10/emoji.ts
  rest/v9/emoji.ts
Labels: topic:payloads, topic:rest

#1224 docs: components v2
  deno/payloads/v10/channel.ts
  deno/payloads/v9/channel.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/webhook.ts
  payloads/v10/channel.ts
  payloads/v9/channel.ts
  rest/v10/channel.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/webhook.ts
Labels: topic:payloads, topic:rest

#1225 docs: remove duplication in descriptions
  deno/payloads/v10/_interactions/applicationCommands.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v10/guild.ts
  deno/payloads/v9/_interactions/applicationCommands.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/guild.ts
  deno/rest/v10/channel.ts
  deno/rest/v10/guild.ts
  deno/rest/v10/monetization.ts
  deno/rest/v10/webhook.ts
  deno/rest/v9/channel.ts
  deno/rest/v9/guild.ts
  deno/rest/v9/monetization.ts
  deno/rest/v9/webhook.ts
  deno/rpc/v10.ts
  payloads/v10/_interactions/applicationCommands.ts
  payloads/v10/channel.ts
  payloads/v10/guild.ts
  payloads/v9/_interactions/applicationCommands.ts
  payloads/v9/channel.ts
  payloads/v9/guild.ts
  rest/v10/channel.ts
  rest/v10/guild.ts
  rest/v10/monetization.ts
  rest/v10/webhook.ts
  rest/v9/channel.ts
  rest/v9/guild.ts
  rest/v9/monetization.ts
  rest/v9/webhook.ts
  rpc/v10.ts
Labels: topic:payloads, topic:rest, topic:rpc

#1232 feat: `APIInviteChannel`
  deno/payloads/v10/channel.ts
  deno/payloads/v10/invite.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/invite.ts
  payloads/v10/channel.ts
  payloads/v10/invite.ts
  payloads/v9/channel.ts
  payloads/v9/invite.ts
Labels: topic:payloads

#1237 fix: Import from respective version
  deno/gateway/v9.ts
  deno/rest/v9/soundboard.ts
  gateway/v9.ts
  rest/v9/soundboard.ts
Labels: topic:gateway, topic:rest

#1235 feat: `APIWebhookSourceChannel`
  deno/payloads/v10/channel.ts
  deno/payloads/v10/webhook.ts
  deno/payloads/v9/channel.ts
  deno/payloads/v9/webhook.ts
  payloads/v10/channel.ts
  payloads/v10/webhook.ts
  payloads/v9/channel.ts
  payloads/v9/webhook.ts
Labels: topic:payloads

#1236 feat: `APIWebhookSourceGuild`
  deno/payloads/v10/guild.ts
  deno/payloads/v10/webhook.ts
  deno/payloads/v9/guild.ts
  deno/payloads/v9/webhook.ts
  payloads/v10/guild.ts
  payloads/v10/webhook.ts
  payloads/v9/guild.ts
  payloads/v9/webhook.ts
Labels: topic:payloads

#1239 fix: wrong exports reported by ae
  .gitignore
  api-extractor.json
  deno/payloads/v10/auditLog.ts
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  deno/rpc/common.ts
  deno/rpc/v10.ts
  deno/rpc/v8.ts
  deno/rpc/v9.ts
  deno/utils/v8.ts
  payloads/v10/auditLog.ts
  rest/v10/index.ts
  rest/v9/index.ts
  rpc/common.ts
  rpc/v10.ts
  rpc/v8.ts
  rpc/v9.ts
  tsdoc.json
  utils/v8.ts
Labels: chore, topic:payloads, topic:rest, topic:rpc, topic:utils

#1240 feat: experimental new docs gen
  .eslintignore
  .github/workflows/documentation.yml
  .gitignore
  package-lock.json
  package.json
  scripts/actions/documentation/package.json
  scripts/actions/documentation/uploadDocumentation.ts
  scripts/actions/documentation/uploadSplitDocumentation.ts
  scripts/tsconfig.json
Labels: dependencies, ci, chore, topic:scripts

#1248 fix: optional `client_id` and `client_secret` in access token data
  .eslintrc.json
  deno/rest/v10/oauth2.ts
  deno/rest/v9/oauth2.ts
  rest/v10/oauth2.ts
  rest/v9/oauth2.ts
  tests/v10/oauth2.ts
  tests/v9/oauth2.ts
Labels: topic:rest, topic:tests

#1247 fix: discriminated thread channel types
  deno/payloads/v10/channel.ts
  deno/payloads/v9/auditLog.ts
  deno/payloads/v9/channel.ts
  payloads/v10/channel.ts
  payloads/v9/auditLog.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1253 feat: Add application deauthorised webhook event
  deno/payloads/v10/webhook.ts
  deno/payloads/v9/webhook.ts
  payloads/v10/webhook.ts
  payloads/v9/webhook.ts
Labels: topic:payloads
