Repository discordjs/discord-api-types, pull requests merged in 2025-09, with the labels that each got.

#1351 feat: More label components and text display in modals
  deno/payloads/v10/_interactions/modalSubmit.ts
  deno/payloads/v10/_interactions/responses.ts
  deno/payloads/v10/channel.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/responses.ts
  deno/payloads/v9/channel.ts
  payloads/v10/_interactions/modalSubmit.ts
  payloads/v10/_interactions/responses.ts
  payloads/v10/channel.ts
  payloads/v9/_interactions/modalSubmit.ts
  payloads/v9/_interactions/responses.ts
  payloads/v9/channel.ts
Labels: topic:payloads

#1362 fix: add missing text display in modal submission
  deno/payloads/v10/_interactions/modalSubmit.ts
  deno/payloads/v9/_interactions/modalSubmit.ts
  payloads/v10/_interactions/modalSubmit.ts
  payloads/v9/_interactions/modalSubmit.ts
Labels: topic:payloads

#1365 feat: Update invite types
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/invite.ts
  deno/payloads/v9/invite.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/invite.ts
  payloads/v9/invite.ts
Labels: topic:gateway, topic:payloads

#1334 feat: add RateLimited gateway event
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  gateway/v10.ts
  gateway/v9.ts
Labels: topic:gateway

#1346 fix: add guild_id back to GatewayVoiceStateUpdateDispatchData
  deno/gateway/v10.ts
  deno/gateway/v9.ts
  deno/payloads/v10/voice.ts
  deno/payloads/v9/voice.ts
  gateway/v10.ts
  gateway/v9.ts
  payloads/v10/voice.ts
  payloads/v9/voice.ts
Labels: topic:gateway, topic:payloads
