Repository discordjs/discord-api-types, pull requests merged in 2025-07, with the labels that each got.

#1291 fix(CDNRoutes): correct `guildTagBadge` route
  deno/rest/v10/mod.ts
  deno/rest/v9/mod.ts
  rest/v10/index.ts
  rest/v9/index.ts
Labels: topic:rest

#1300 fix(APIApplicationCommandChannelOption): Exclude directory channels
  deno/payloads/v10/_interactions/_applicationCommands/_chatInput/channel.ts
  deno/payloads/v9/_interactions/_applicationCommands/_chatInput/channel.ts
  payloads/v10/_interactions/_applicationCommands/_chatInput/channel.ts
  payloads/v9/_interactions/_applicationCommands/_chatInput/channel.ts
Labels: topic:payloads

#1308 docs: generate routes interfaces automatically on build
  .gitignore
  .prettierignore
  eslint.config.ts
  package.json
  scripts/generate-prettier-routes-interface.ts
  website/package-lock.json
  website/package.json
  yarn.lock
Labels: dependencies, chore, topic:scripts, topic:website

#1309 feat(GuildMemberFlags): Add `AUTOMOD_QUARANTINED_GUILD_TAG`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: topic:payloads

#829 ci: Disallow changes to deprecated API versions
  .github/workflows/check-deno.yml
  .github/workflows/validate-pull-request.yml
Labels: ci

#1315 feat(GuildFeature): Add `GUILD_TAGS`
  deno/payloads/v10/guild.ts
  deno/payloads/v9/guild.ts
  payloads/v10/guild.ts
  payloads/v9/guild.ts
Labels: topic:payloads
